---
layout: section
title: "B.tech 2021 Batch"
main_title: "Home"
---
<!-- about part start-->

<section class="about_part section_padding" style="padding-bottom:130px ">
	<div class="container">
		<h1><b>Welcome to IIIT Raichur</b></h1>

		<h2><br>Admission Process Details & Frequently Asked Questions</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<h3>
			<a
				href="https://docs.google.com/document/d/e/2PACX-1vT66bIu6gSNMdRpwHAswIGfGjOjCr8dwshKAqvrp1gHgSXDfVVUvVyT9dqlhFGIDA/pub?urp=gmail_link">Click
				here.</a><br>
		</h3>
		<br>


		<h2>Semester 1 of 2021 Batch will run in Online Mode</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<h3>Orientation Program is on 12th December 2021, 11:00 AM.</h3>
		<h3>Classes will start in online mode from 13 December 2021.</h3>
		<br>
		<br>

		<h2>Calendars</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<h3>
			<a href="/assets/files/calendars/2021/BTech_2021_I_& II_Sem_Academic_Calendars.pdf">I and II Semester</a>
		</h3>
		<br>
		<br>
		<h2>Time Table</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<h3>
			<a href="/assets/files/timetable/2021/IIIT-Timetable-for-1-6-segments-2021.pdf">Dec 2021 - Mar 2022</a>
		</h3>
		<br>
		<br>
		<!-- <br>
			<h2>AIMS</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
				<a href="https://aims.iiitr.ac.in/iiitraichur/">https://aims.iiitr.ac.in/iiitraichur/</a>
			</h3> -->

		<!-- <br>
			<h2>Orientation Program</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
				<a href="./assets/files/IIITR Orientation Program 2020.pdf">Click here for the schedule</a>
			</h3> -->

	</div>

	<div class="container">

		<h2><br>Contact</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<h3>Dr. Sathya Peri
			<br>
			<h4>
				Mail : <a href="mailto:sathya_p@cse.iith.ac.in">sathya_p[at]cse.iith.ac.in</a><br>
				Faculty Advisor<br><br></h4>
			<h3>UG Academic Office
				<h4>
					Mail : <a href="mailto:acad.ug@iith.ac.in">acad.ug[at]iith.ac.in</a><br>
					Contact Number: <a href="tel://04023016767">040-2301 6767</a>
				</h4>

	</div>

</section>
<!-- about part start-->