---
layout: section
title: "Admission"
main_title: "Academics"
---


<style>
    .progress-table .serial1 {
        width: 50%;
        padding-left: 30px;
    }
</style>

<!-- Admission Details 2021-->
<section class="about_part section_padding">
    <div class="container">
        <h2>
            DETAILS OF ADMISSION PROCESS FOR B.tech 2021-22<br>
            <a href="./2021">Click here</a>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h2>
    </div>
</section>

<!-- about part start-->
<section class="about_part section_bg section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <h4>Admissions for IIIT Raichur B.tech will be conducted through the JEE Joint Seat Allocation -- <a
                            href="https://josaa.nic.in/">JOSAA</a>.<br>
                        For more information, please see <a
                            href="https://josaa.nic.in/seatinfo/root/InstProfile.aspx?instcd=326">here</a>.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>