---
layout: section
title: "Press Release"
main_title: "Public Relations"
---
<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom:130px ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-12">
                <div class="about_text text-center">
                    <h2>Press Release</h2>
                    <hr style="margin-left:auto; border: 2px solid blue; width:50px;">

                </div>
            </div>

            <style>
                .press-release-cards {
                    padding: 2%;
                    margin: 4%;
                    box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            </style>
            {% assign pressrelease = site.categories['pressrelease'] %}
            {% for post in pressrelease %}

            <div class="col-lg-6">
                <div class="press-release-cards">
                    <h3>{{ post.title }}</h3>
                    <h6 class="text-muted"><b>{{post.date | date: "%d %b %Y"}}</b></h6>
                    <div>
                        <a class="news-page-cards-button" href="{{ post.url | absolute_url }}">
                            More
                        </a>
                    </div>
                </div>

            </div>

            {% endfor %}

        </div>
    </div>
    </div>
</section>
<!-- about part start-->