---
layout: section
title: "Administration"
main_title: "About"
---

{% include administration_table.html %}


<!-- Director's Message part start -->
<section class="section_padding">
    <div class="container">
        <div class="col-lg-12">
            <h2 style="text-align:left">From Director's Desk</h2>
            <hr class="divider dark my-12" style="border: 0.5px solid black;">
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <h3><b>Prof. B. S. Murty</b><br>
                    Mentor Director
                </h3>
                <hr class="divider dark my-4" style="border: 1px solid black;">
                <h4>Director at Indian Institute of Technology Hyderabad.<br>
                    Professor at Department of Metallurgical and Materials Engineering IITH
                </h4>
                <img src="https://www.iith.ac.in/assets/images/BoG/director_murty.jpg"
                    style="margin-left: 20%;margin-right: 20%; padding-bottom:20px;" width="60%">
            </div>
            <div class="col-lg-8 col-sm-12 col-xs-7">
                <h4>
                    Dear Friends, <br><br>
                    It gives me immense pleasure to be part of the IIIT Raichur (IIITR), and it is indeed a matter of
                    pride for IIT Hyderabad (IITH) to be a mentor institute for IIITR. This is a significant step in the
                    direction of uplifting standards and enhancing the horizon of higher education and research in the
                    country. As a mentor institute, IITH is excited to render its acquired expertise to the IIITR in all
                    possible measures to make it a World-class Educational Institute.<br><br>
                    Our Deans have been providing their rich Academic, Research and Industrial proficiency for the
                    courses being offered and enhancing employability of the students. IITH’s Faculty members have been
                    leaving no stone unturned to lay a strong academic foundation for the IIITR, impart its decade of
                    academic experience and bring best practices right from its inception. Staff from different
                    departments/sections of the IITH have also worked hard to ensure seamless commencement of the
                    Academic year (2019-2020) for the first batch of IIITR at IITH Campus.<br><br>
                    Going to be based on the land of historic importance, Raichur, I am sure, IIITR will emerge as the
                    state-of-the-art institute, both in research and academics under the IITH's able mentorship.<br><br>
                    On behalf of the entire team of IITH, I wish all the luck for IIITR with the promise of extending
                    continued support to IIITR in future too.<br><br>
                </h4>
            </div>

        </div>
        <hr class="divider dark my-12" style="border: 0.5px solid black;">
    </div>
</section>
<!-- Director's Message Part end -->
<!-- about part start-->
<section class="about_part section_bg section_padding" style="padding-bottom:130px ">
    <div class="container">

        <!-- Table started -->
        <div class="progress-table-wrap">
            <table id="customers">
                <tr>
                    <th>Member Name</th>
                    <th>Role</th>

                    <th>Email</th>
                    <th>Landline<br>040-2301-</th>
                </tr>
                <tr>
                    <td>Prof. B.S. Murty</td>
                    <td>Director</td>

                    <td>director[at]iith.ac.in</td>
                    <td>6001</td>
                </tr>
                <tr>
                    <td style="width:30%">Prof. Saptarshi Majumdar</td>
                    <td style="width:20%">Dean of Academic Affairs</td>

                    <td style="width:25%">dean.acad[at]iith.ac.in</td>
                    <td style="width:10%">6003</td>
                </tr>

                <tr>
                    <td style="width:30%">Prof. Raja Banerjee</td>
                    <td style="width:20%">Dean of Administration</td>

                    <td style="width:25%">dean.admin[at]iith.ac.in</td>
                    <td style="width:10%">6004</td>
                </tr>


                <tr>
                    <td style="width:30%">Prof. Kanchana V</td>
                    <td style="width:20%">Dean of Faculty Affairs</td>

                    <td style="width:25%">dean.faculty[at]iith.ac.in</td>
                    <td style="width:10%">6005</td>
                </tr>

                <tr>
                    <td style="width:30%">Prof. K. V. L. Subramaniam</td>
                    <td style="width:20%">Dean of Planning</td>

                    <td style="width:25%">dean.plan[at]iith.ac.in</td>
                    <td style="width:10%">6006</td>
                </tr>

                <tr>
                    <td style="width:30%">Prof. P Rajalakshmi</td>
                    <td style="width:20%">Dean of Student Affairs</td>

                    <td style="width:25%">dean.students[at]iith.ac.in</td>
                    <td style="width:10%">6009</td>
                </tr>

                <tr>
                    <td style="width:30%">Prof. C Krishna Mohan</td>
                    <td style="width:20%">Dean of Public and Corporate Relations</td>

                    <td style="width:25%">dean.pcr[at]iith.ac.in</td>
                    <td style="width:10%">6039</td>
                </tr>

                <tr>
                    <td style="width:30%">Commodore Manohar Nambiar ( Retd. )</td>
                    <td style="width:20%">Registrar</td>

                    <td style="width:25%">registrar[at]iith.ac.in</td>
                    <td style="width:10%">6055</td>
                </tr>
                <tr>
                    <td style="width:30%">Prof. Prem Pal</td>
                    <td style="width:20%">Students Coordinator</td>

                    <td style="width:25%">prem[at]iith.ac.in</td>
                    <td style="width:10%">6704</td>
                </tr>
                <tr>
                    <td style="width:30%">Dr. Sathya Peri</td>
                    <td style="width:20%">Academics Coordinator</td>

                    <td style="width:25%">sathya_p[at]cse.iith.ac.in</td>
                    <td style="width:10%">6359</td>
                </tr>

                <!-- <tr>
                    <td style="width:30%"></td>
                    <td style="width:20%">Faculty Incharge of Sports</td>

                    <td style="width:25%"></td>
                    <td style="width:10%"></td>
                </tr> -->
                <tr>
                    <td style="width:30%">Dr. Debasish Mukherjee</td>
                    <td style="width:20%">
                        Faculty Incharge of Sports & Placements<br>
                    </td>

                    <td style="width:25%">debasish.cse[at]iiitr.ac.in</td>
                    <td style="width:10%"></td>
                </tr>
                <tr>
                    <td style="width:30%">Dr. Sadhana Jha</td>
                    <td style="width:20%">
                        Faculty Incharge of Counselling Cell and Women Cell<br>
                        Nodal Officer for Data Uploading on AISHE portal
                    </td>

                    <td style="width:25%">sadhana[at]iiitr.ac.in</td>
                    <td style="width:10%"></td>
                </tr>

                <tr>
                    <td style="width:30%">Dr. Saravanan Balusamy</td>
                    <td style="width:20%">Hostel Coordinator</td>

                    <td style="width:25%">saravananb[at]mae.iith.ac.in</td>
                    <td style="width:10%">6666</td>
                </tr>

                <tr>
                    <td style="width:30%">Dr. Ramesh Jallu</td>
                    <td style="width:20%">
                        Nodal Officer for Fit India Movement<br>
                        Warden Boys Hostel
                    </td>

                    <td style="width:25%">jallu[at]iiitr.ac.in</td>
                    <td style="width:10%"></td>
                </tr>
                <tr>
                    <td style="width:30%">
                        Dr. Alka Chadda
                    </td>
                    <td style="width:20%">
                        Warden Girls Hostel
                    </td>

                    <td style="width:25%">

                        alks03[at]iiitr.ac.in
                    </td>
                    <td style="width:10%"></td>
                </tr>
                <tr>
                    <td style="width:30%">Mrs. Mitalee Agrawal</td>
                    <td style="width:20%">Public Relations Officer</td>

                    <td style="width:25%">pro[at]iith.ac.in</td>
                    <td style="width:10%">6099</td>
                </tr>

            </table>
            <br>
        </div>
    </div>
</section>
<!-- about part start-->
