---
layout: section
title: "B.tech 2020 Batch"
main_title: "Home"
---	
    <!-- about part start-->
    
    <section class="about_part section_padding" style="padding-bottom:130px ">
        <div class="container">
			<h1><b>Welcome to IIIT Raichur</b></h1>
         
		   	<h2><br>Admission Details</h2>
		   	<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
		   		<a href="./assets/files/Admission/First-Semester-2020-2021.pdf">Click here for details.</a>
			</h3>
			<br>

		   <h2>Frequently asked questions.</h2>
		   <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
				<a href="./assets/files/faq/BTech 2020 Batch.pdf">Click here.</a>
			</h3>
			<br>

			<h2>Time Table</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
				<a href="./assets/files/calendars/IIIT-Timetable for Dec - Mar 2021.pdf">Dec - Mar 2021</a>
			</h3>
			<br>
			
			<h2>Calendars</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
				<a href="./assets/files/calendars/IIITR BTech 2020 batch II sem calendar.pdf">II Semester ( Revised )</a><br>
				<a href="./assets/files/calendars/BTech 2020_I & II Semester Calender.pdf">I and II Semester</a>
			</h3>

			<br>
			<h2>AIMS</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
				<a href="https://aims.iiitr.ac.in/iiitraichur/">https://aims.iiitr.ac.in/iiitraichur/</a>
			</h3>
			
			<br>
			<h2>Orientation Program</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>
				<a href="./assets/files/IIITR Orientation Program 2020.pdf">Click here for the schedule</a>
			</h3>

		</div>
				  
  		<div class="container">
			
		   <h2><br>Contact</h2>
		   <hr style="margin-left:5px; border: 2px solid blue; width:50px;">		   
		   <h3>Dr. Sathya Peri
				   <br>
				<h4>
			   	Mail : <a href="mailto:sathya_p@cse.iith.ac.in">sathya_p[at]cse.iith.ac.in</a><br>
				Faculty Advisor<br><br></h4>
		   <h3>UG Academic Office
			   	<h4>
					   Mail : <a href="mailto:acad.ug@iith.ac.in">acad.ug[at]iith.ac.in</a><br>
					   Contact Number: <a href="tel://04023016767">040-2301 6767</a>
				</h4>
			
		</div>   
			
    </section>
    <!-- about part start-->
