---
layout: section
title: "Calendars & TimeTables"
main_title: "Academics"
---

<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom: 130px">
 <div class="container">
  <div class="row align-items-center justify-content-between">
   <div class="col-md-12 col-lg-12">
    <div class="about_text">
     <hr class="divider dark my-4" />
     <h2>B.TECH 2021 Batch</h2>
     <hr style="margin-left: 5px; border: 2px solid blue; width: 50px" />
     <h3>Academic Calendars</h3>
     <hr class="divider dark my-4" />
     <h4>
      <ul>
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/2022/IIITR-Academic-Calendar-Aug-Dec22-Semester.pdf"
        >
         Aug - Dec 2022
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/2021/BTech_2021_I_& II_Sem_Academic_Calendars.pdf"
        >
         Semester I and II<br />
         Dec 2021 - March 2021(Semester I) & Mar 2021 - July 2021(Semester II)
        </a>
       </li>
       <br />
      </ul>
     </h4>

     <hr class="divider dark my-4" />
     <h3>Academic Timetables</h3>
     <hr class="divider dark my-4" />
     <h4>
      <ul>
       <li>
        <a
         target="_blank"
         href="./assets/files/timetable/2022/Aug-Nov 22-Timetable-of-IIIT-Raichur.pdf"
        >
         Aug - Nov 2022
        </a>
       </li>
       <li>
        <a
         target="_blank"
         href="./assets/files/timetable/2021/IIIT-Timetable-for-1-6-segments-2021.pdf"
        >
         Dec 2021 - Mar 2022, Semester 1 (In Online Mode)
        </a>
       </li>
       <br />
      </ul>
     </h4>
    </div>
   </div>

   <div class="col-md-12 col-lg-12">
    <div class="about_text">
     <hr class="divider dark my-4" />
     <h2>B.TECH 2020 Batch</h2>
     <hr style="margin-left: 5px; border: 2px solid blue; width: 50px" />
     <h3>Academic Calendars</h3>
     <hr class="divider dark my-4" />
     <h4>
      <ul>
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/2022/IIITR-Academic-Calendar-Aug-Dec22-Semester.pdf"
        >
         Aug - Dec 2022
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/IIITR-Jan June 2022-Academic Calendar - Updated.pdf"
        >
         Jan - June 2022 (Updated on 1 March)
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/Jan-June-Calendar-2022.pdf"
        >
         Jan - June 2022 (In Offline Mode)
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/IIITR Aug-Dec 2021.pdf"
        >
         Aug - Dec 2021
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/IIITR BTech 2020 batch II sem calendar.pdf"
         >II Semester Calendar ( Revised )</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/BTech 2020_I & II Semester Calender.pdf"
         >I & II Semester Calendar</a
        >
       </li>
       <br />
      </ul>
     </h4>

     <hr class="divider dark my-4" />
     <h3>Academic Timetables</h3>
     <hr class="divider dark my-4" />
     <h4>
      <ul>
       <li>
        <a
         target="_blank"
         href="./assets/files/timetable/2022/Aug-Nov 22-Timetable-of-IIIT-Raichur.pdf"
        >
         Aug - Nov 2022
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="/assets/files/calendars/2020/IIITR Timetable - Aug_Dec 2021 - 2020 batch Students _ 3rd Semester.pdf"
         >Aug to Dec 2021</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="https://docs.google.com/document/d/1rCWxiWtREKZN-UN2M8PvpmyGwJwXrjkKtdtokdy3Q-Y/edit"
         >Mar to July 2021</a
        >
       </li>
       <br />
      </ul>
     </h4>
    </div>
   </div>

   <div class="col-md-12 col-lg-12">
    <div class="about_text">
     <hr class="divider dark my-4" />
     <h2>B.TECH 2019 Batch</h2>
     <hr style="margin-left: 5px; border: 2px solid blue; width: 50px" />
     <h3>Academic Calendars</h3>
     <hr class="divider dark my-4" />
     <h4>
      <ul>
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/2022/IIITR-Academic-Calendar-Aug-Dec22-Semester.pdf"
        >
         Aug - Dec 2022
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/IIITR-Jan June 2022-Academic Calendar - Updated.pdf"
        >
         Jan - June 2022 (Updated on 1 March)
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/Jan-June-Calendar-2022.pdf"
        >
         Jan - June 2022 (In Offline Mode)
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/IIITR Aug-Dec 2021.pdf"
        >
         Aug - Dec 2021
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/IIIT R Academic calendar Jan-June 2021 for BTech 2019 batch.pdf"
         >Jan - June 2021</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/Aug- Dec calendar 2020.pdf"
         >Aug - Dec 2020</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIITR-Revised-Acad-Schedule-for-Jan-May 2020.pdf"
         >Jan - June 2020</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/Academic Calendar-Jul-Dec-2019-IIIT Raichur.pdf"
         >Jul - Dec 2019</a
        >
       </li>
       <br />
      </ul>
     </h4>

     <hr class="divider dark my-4" />
     <h3>Academic Timetables</h3>
     <hr class="divider dark my-4" />
     <h4>
      <ul>
       <li>
        <a
         target="_blank"
         href="./assets/files/timetable/2022/Aug-Nov 22-Timetable-of-IIIT-Raichur.pdf"
        >
         Aug - Nov 2022
        </a>
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/2019/IIITR Timetable - Aug_Dec 2021 - 2019 Batch _ 5th Semester.pdf"
         >Aug-Dec 2021 Semester: 1-6 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="./assets/files/calendars/IIIT-Timetable for Jan - May 2021.pdf"
         >Jan-May 2021 Semester: 1-6 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIIT Timetable for Sep-Dec 2020 .pdf"
         >Sep-Dec 2020 Semester: 1-6 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIIT-Timetable-for-5-6-segments-Jan-2020.pdf"
         >Jan-June 2020 Semester: 5-6 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIIT-Timetable-for-3-4-segments-Jan-2020.pdf"
         >Jan-June 2020 Semester: 3-4 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIIT-Timetable-for-1-2-segments-Jan-2020.pdf"
         >Jan-June 2020 Semester: 1-2 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIIT-Timetable-for-5-6-segments.pdf"
         >July-Dec 2019 Semester: 5-6 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIIT-Timetable-for-3-4-segments.pdf"
         >July-Dec 2019 Semester: 3-4 Segments</a
        >
       </li>
       <br />
       <li>
        <a
         target="_blank"
         href="assets/files/calendars/IIIT-Timetable-for-1-2-segments.pdf"
         >July-Dec 2019 Semester: 1-2 Segments</a
        >
       </li>
       <br />
      </ul>
     </h4>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- about part start-->
