---
layout: section
title: "Careers"
main_title: "Home"
---

<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom:130px ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <h3 style="color: blue;">- &nbsp;&nbsp;Faculty Advertisement 2022:</h3>
                    <h4>
                        <p><a style="font-size:x-large;font-weight:500;"
                                href="./assets/files/advertisement/Advertisement_Faculty_March 2022_IIIT Raichur.pdf"
                                target="_blank">Click here for
                                Advertisement</a></p>
                        <p style="font-size:x-large">Application (<a
                                href="./assets/files/Faculty-Application-IIIT-Raichur.pdf" target="_blank"> PDF
                            </a>|<a href="./assets/files/Faculty-Application-IIIT-Raichur.docx" target="_blank">
                                Word </a>)</p>
                        <p>Last Date: 15 April 2022</p>

                    </h4>
                    <br><br>
                    <h3 style="color: blue;">- &nbsp;&nbsp;Placement Officer (on contract)</h3>
                    <h5>
                        <p>
                            Last Date to apply is 10th December 2021<br>
                            <a
                                href="./assets/files/advertisement/ADVERTISEMENT FOR THE POST OF PLACEMENT OFFICER ON CONTRACT.pdf"><b>Click
                                    here for details.</b></a><br>
                            <a
                                href="https://docs.google.com/forms/d/e/1FAIpQLSealeys_GxADRxq4o6ULzvUgajonXdNoAllpE3IY_WMrGk7FQ/viewform">Click
                                here to apply.</a>
                        </p>
                    </h5><br><br><br>
                    <h3 style="color: blue;"><b>- &nbsp;&nbsp;Project Staff Advertisement:</b></h3><br>
                    <h5>
                        <p><a style="font-size:x-large;font-weight:500;"
                                href="./assets/files/advertisement/Advertisement for Computer Center, IIIT Raichur 16-11-2021.pdf"
                                target="_blank">Network/System Engineer</a></p>
                        Walk-in date is 17-12-2021 9:30 AM<br>
                        Walk-in interviews will be conducted at the IIIT Raichur campus located at GEC,
                        Raichur campus.<br>
                        The advertised post is for 11 months contract and it can be renewed based on the performance<br>
                        Candidates have to bring all relevant documents/certificates for the interviews.<br>
                        No TA/DA will be provided for attending the interviews.<br>
                        Candidates should carry any personal ID issued by the Government.<br>
                        <a
                            href="./assets/files/advertisement/Advertisement for Computer Center, IIIT Raichur 16-11-2021.pdf">Click
                            here for details</a>
                    </h5>
                    <!-- <h3>
                        <br>
                        Visit <a href="https://project.recruitment.iiitr.ac.in/">
                            project.recruitment.iiitr.ac.in</a> for more details.
                    </h3> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part start-->