---
layout: section
title: "Contact"
main_title: "Home"
---	
    <!-- about part start-->
    <section class="about_part section_padding" style="padding-bottom:130px ">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-10 col-lg-10">
                    <div class="about_text">
			    <h2>Mailing Address </h2>
         		   <hr style="margin-left:5px; border: 2px solid blue; width:50px;">  
                        <h3>
					<hr class="divider dark my-4">
						Director's office,<br>
						Indian Institute of Technology Hyderabad, <br>
						Kandi, Sangareddy - 502285<br>
				<hr class="divider dark my-4">
						</h3>
			    
			    <h2>Contact Details</h2>
	    		   <hr style="margin-left:5px; border: 2px solid blue; width:50px;">  
                        <h3>
							<hr class="divider dark my-4">
							Ph: 040 - 2301 6002<br>
							E-mail: <href="mailto:info@iiitr.ac.in">info@iiitr.ac.in</href><br>
							<br><a href="https://www.iith.ac.in/contact_us/">Click here for more details<br><br></a>
							<hr class="divider dark my-4">
						</h3>
                 </div>
             </div>
             
          </div>
        </div>
      </div>
    </section>
    <!-- about part start-->
