---
layout: section
title: "Curriculum"
main_title: "Academics"
---

<!-- about part start-->
<section class="about_part section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <p style="font-weight: 500; text-align: justify;">The IIIT Raichur BTech program will use the
                        innovative fractal academics, pioneered by IIT Hyderabad.
                        This allows the students benefit from the T-education model, and gain both breadth of knowledge
                        and depth on
                        the subjects of their interest.</p>
                    <p style="font-weight: 500; text-align: justify;">
                        The B.Tech. program consists of eight semesters spread over four years.
                        An Academic Year (July-April) consists of 2 semesters, each of approximately
                        16 weeks duration. The odd semester begins in the last week of July / first
                        week of August and ends by the last week of November. The even semester starts in
                        the first week of January and ends by the first week of May. A student is required to
                        register the relevant courses listed in the curriculum for that semester.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part start-->
<section>
    <div class="container">
        <div class="col-lg-12">
            <h2>B.tech in Computer Science & Engineering Department</h2>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </div>
    </div>
</section>

<section class="section_padding">
    <div class="container">
        <div class="col-lg-12">
            <h3>
                2019 Batch<br>
            </h3>
            <hr style="margin-left:5px; border: 1.5px solid blue; width:50px;">
            <a href="./assets/files/curriculum/2019-batch.pdf">Download</a>
            <br>
            <br>
            <br>
            <h3>
                2020 Batch<br>
            </h3>
            <hr style="margin-left:5px; border: 1.5px solid blue; width:50px;">
            <a href="./assets/files/curriculum/2020-batch.pdf">Download</a>
            <br>
            <br>
            <br>
            <h3>
                2021 Batch Onward<br>
            </h3>
            <hr style="margin-left:5px; border: 1.5px solid blue; width:50px;">
            <a href="./assets/files/curriculum/2021-onwards.pdf">Download</a>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>

<!-- about part start-->