---
layout: section
title: "Faculty"
main_title: "People"
---

<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom:130px ">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-10 col-lg-10">
        <div class="about_text">
          <h4>The first few batches of IIIT Raichur students are being taught by the faculty of IIT Hyderabad who are
            leading academicians and researchers in their respective domains.
            <br>
            The Faculties which are currently teaching the students of IIITR :
          </h4>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center" style="margin: auto;">
    <div class="col-lg-12 text-center">
      <h1>IIIT Raichur Faculty<br></h1>
    </div>
    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <a href="{{ site.baseurl }}/math/alka.html"><img src="./assets/images/faculty/math/alka.jpg"></a>
        </div>
        <div>
          <h5><a href="{{ site.baseurl }}/math/alka">Alka
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Roorkee
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <a href="{{ site.baseurl }}/cse/debasish.html"><img src="./assets/images/faculty/cse/debasish.webp"></a>
        </div>
        <div>
          <h5><a href="{{ site.baseurl }}/cse/debasish.html">Debasish Mukherjee
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT(ISM) Dhanbad
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <a href="{{ site.baseurl }}/cse/jallu.html"><img src="./assets/images/faculty/cse/jallu.jpeg"></a>
        </div>
        <div>
          <h5><a href="{{ site.baseurl }}/cse/jallu.html">Ramesh Kumar Jallu
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Guwahati
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <a href="{{ site.baseurl }}/cse/sadhana.html"><img src="./assets/images/faculty/cse/sadhana.webp"></a>
        </div>
        <div>
          <h5><a href="{{ site.baseurl }}/cse/sadhana.html">Sadhana Jha
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Kharagpur
          </h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Faculty details-->
  <div class="row" style="margin-left:unset; margin-right:unset;">
    <div class="col-lg-12 text-center">
      <h1><br>IIT Hyderabad Faculty<br></h1>
    </div>
    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Amit_Acharyya.jpg">
        </div>
        <div>
          <h5><a href="https://www.iith.ac.in/~amit_acharyya/" target="_blank">Amit Acharyya
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: University of Southhampton
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Anindya_Roy.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/bt/anindya/" target="_blank"> Anindya Roy

            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IISc, Bangalore
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Bhakti_Bhusan_Manna.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/math/bbmanna/" target="_blank">Bhakti Bhusan Manna
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: TIFR-CAM, Bangalore
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Bheemarjuna_Reddy.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/cse/tbr/" target="_blank">Bheemarjuna Reddy Tamma
            </a></h5>
        </div>
        <div>
          <h6><strong>Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Madras
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Dipankar_Ghosh.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/math/dghosh/" target="_blank">Dipankar Ghosh
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Bombay
          </h6>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Fahad_Panolan.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/~fahad/" target="_blank">Fahad Panolan
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: The Institute of Mathematical Sciences,Chennai
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src=" https://iith.ac.in/assets/images/profiles/Gajendranath_Chaudhury.jpeg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/ee/gajendranath/" target="_blank"> Gajendranath Chaudhury Ch.
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Delhi
          </h6>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src=" https://iith.ac.in/assets/images/profiles/M_P_Ganesh.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/la/mpganesh/" target="_blank"> Ganesh M.P.
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Bombay
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/GVV.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/ee/gadepall/" target="_blank"> G V V Sharma

            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Bombay
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src=" https://lba.iith.ac.in/people/faculty/images/Prabish.JPG">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/la/prabheesh/" target="_blank">K. P. Prabheesh
            </a></h5>
        </div>
        <div><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>PhD: IIT Madras, India (2009)
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src=" https://iith.ac.in/assets/images/profiles/Kotaro.jpg">
        </div>
        <div>
          <h5><a href="https://www.iith.ac.in/~kotaro/" target="_blank"> Kotaro Kataoka

            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: Keio University
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Maunendra_Sankar_Desarkar.jpg">
        </div>
        <div>
          <h5><a href="https://www.iith.ac.in/~maunendra/" target="_blank">Maunendra Sankar Desarkar
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Kharagpur
          </h6>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/MV_Panduranga_Rao.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/cse/mvp/" target="_blank">M.V. Panduranga Rao
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IISc Bangalore
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Mrinmoy-Datta.png">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/math/mrinmoy.datta/" target="_blank">Mrinmoy Datta
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Bombay
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Narasimha_Kumar.jpg">
        </div>
        <div>
          <h5><a href="https://www.iith.ac.in/~narasimhakumar/" target="_blank">Narasimha Kumar
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: Tata Institute of Fundamental Research, Mumbai
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Nandini_Ramesh_Sankar.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/la/nandini/" target="_blank"> Nandini Ramesh Sankar

            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: Cornell University
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="./assets/images/faculty/prasad.jpeg">
        </div>
        <div>
          <h5><a href="https://design.iith.ac.in/prasad.html" target="_blank">Prasad S Onkar</a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IISc Bangalore
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/~ananth/ananth.jpg">
        </div>
        <div>
          <h5><a href="https://www.iith.ac.in/~ananth/" target="_blank">P A Lakshmi Narayana </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Kharagpur </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Prakash_Mondal.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/la/prakashmondal/" target="_blank">Prakash Chandra Mondal
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Delhi
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/rogers.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/cse/rogers/" target="_blank">Rogers Mathew
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IISc Bangalore
          </h6>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/G_Ramesh.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/math/rameshg/" target="_blank">Ramesh G
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Madras
          </h6>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Rakesh_Venkat.jpg">
        </div>
        <div>
          <h5><a href="https://www.iith.ac.in/~rakeshvenkat/" target="_blank">Rakesh Venkat
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: TIFR Mumbai
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Sathya_Peri.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/cse/sathya_p/" target="_blank">Sathya Peri
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: University of Texas at Dallas
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Subrahmanyam_Kalyanasundaram.jpg">
        </div>
        <div>
          <h5><a href="https://www.iith.ac.in/~subruk/" target="_blank">Subrahmanyam Kalyanasundaram
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: Georgia Institute of Technology
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Ch_Subrahmanyam.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/chy/csubbu/" target="_blank">Subrahmanyam Ch.
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Madras
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src=" https://iith.ac.in/assets/images/profiles/Shishir_Kumar.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/ee/shishirk/" target="_blank"> Shishir Kumar
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: Trinity College, Dublin
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Shubha_Ranganathan.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/la/shubha/" target="_blank">Shubha Ranganathan
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Bombay
          </h6>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Shuhita_Bhattacharjee.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/la/shuhita/" target="_blank">Shuhita Bhattacharjee
            </a></h5>
        </div>
        <div>
          <h6><strong>Associate Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: University of Lowa
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Sukumar_D.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/math/suku/" target="_blank"> Sukumar D
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Madras
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://iith.ac.in/assets/images/profiles/Srirupa_Chatterjee.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/la/srirupa/" target="_blank">Srirupa Chatterjee

            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IIT Kanpur
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src=" https://iith.ac.in/assets/images/profiles/Srijith_P_K.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/cse/srijith/" target="_blank"> Srijith P.K

            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: IISc, Bangalore
          </h6>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 ">
      <div class="faculty-page">
        <div>
          <img src="https://www.iith.ac.in/assets/images/profiles/Tanmoy_Paul.jpg">
        </div>
        <div>
          <h5><a href="https://iith.ac.in/math/tanmoy/" target="_blank">Tanmoy Paul
            </a></h5>
        </div>
        <div>
          <h6><strong>Assistant Professor</strong></h6>
        </div>
        <div>
          <h6>Ph.D: Indian Statistical Institute , Kolkata
          </h6>
        </div>
      </div>
    </div>

</section>
<!-- about part start-->