---
layout: default
title: "Home"
---

<style>
 .cover_photo {
  height: 90vh;
  min-height: 450px;
  background-image: url("./assets/images/index_page/cover.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  background-repeat: no-repeat;
 }

 @media only screen and (max-width: 600px) {
  .cover_photo {
   background-image: url("./mobile-cover.jpeg");
  }
 }

 blink {
  animation: blinker 1s linear infinite;
  color: blue;
  font-size: larger;
 }

 @keyframes blinker {
  50% {
   opacity: 0;
  }
 }
</style>

<!-- banner part start-->
<header class="cover_photo">
 <div class="container h-100">
  <div class="row h-100 align-items-center">
   <div class="col-12 text-center">
    <div class="home-landing-text">
     <h1>
      Indian Institute of Information Technology<br />
      Raichur
     </h1>
    </div>
   </div>
  </div>
 </div>
</header>

<section class="section_padding">
 <div class="container">
  <div class="row justify-content-center text-center">
   <div class="col-lg-12">
    <a target="_blank" href="https://harghartiranga.com/">
     <img
      src="https://harghartiranga.com/images/downloads/hgt_en_banner.jpg"
     />
     <h3><br />Harghartiranga.com</h3>
    </a>
   </div>
  </div>
 </div>
</section>

<section class="section_padding">
 <div class="container-fluid" style="text-align: center">
  <div class="row">
   <div class="col-lg-12 text-center">
    <h2>Latest Updates</h2>
    <hr style="margin-left: auto; border: 2px solid blue; width: 50px" />
   </div>

   {% assign count = 0 %} {% assign update = site.categories['update'] %} {% for
   post in update %} {% if count == 3 %} {% break %} {% endif %}

   <div class="col-lg-4">
    <div class="index-news-cards">
     <img
      src="./assets/images/news/{{post.img_1}}"
      alt="{{ post.title }} | News | IIIT Raichur"
     />
     <div class="index-news-cards-content">
      <h3>{{ post.title }}</h3>
      <h5 class="text-muted">{{post.date | date: "%d %b %Y"}}<br /></h5>
     </div>
     <h4>
      <a
       style="color: blue; font-weight: 700"
       href="{{ post.url | absolute_url }}"
      >
       More
      </a>
     </h4>
     <br /><br />
    </div>
   </div>

   {% assign count = count | plus: 1 %} {% endfor %}
  </div>
 </div>
</section>
<section class="section_padding">
 <div class="container">
  <div class="row">
   <div class="col-lg-6">
    <div class="home-more-cards hover-reveal">
     <h3>Student Life</h3>
     <img
      src="./assets/images/index_page/slider_3.jpg"
      alt="Students IIIT Raichur"
     />
     <h5><br />The pioneering batch.<br /><br /></h5>
     <a
      class="btn btn-light btn-xl js-scroll-trigger shadow"
      href="https://students.iiitr.ac.in/"
     >
      <h4>More</h4>
     </a>
    </div>
   </div>
   <div class="col-lg-6">
    <div class="home-more-cards hover-reveal">
     <h3>Faculty Recruitment</h3>
     <img
      src="./assets/images/index_page/faculty.JPG"
      alt="Recruitment IIIT Raichur"
     />
     <h5>
      <br />The recruitment process for both teaching staff is going on under
      the mentor institute IIT Hyderabad.
     </h5>
     <a
      class="btn btn-light btn-xl js-scroll-trigger shadow"
      href="./assets/files/advertisement/Advertisement_Faculty_March 2022_IIIT Raichur.pdf"
     >
      <h4>More</h4>
     </a>
    </div>
   </div>
  </div>
 </div>
</section>
