---
layout: section
title: "News - Archives"
main_title: "Home"
---
<!-- about part start-->
<section class="full-width">

	<section class="jumbotron jumbotron-fluid" style="background-color: white;">
		<div class="full-width side-gap towers">

			<div class="row" style="margin: 2rem auto">

				{% assign count = 0 %}
				{% assign update = site.categories['update'] %}
				{% for post in update %}
				{% if count > 5 %}

				<div class="col-lg-4">
					<div class="news-page-cards">
						<h3>{{ post.title }}</h3>
						<h6 class="text-muted"><b>{{post.date | date: "%d %b %Y"}}</b></h6>
						{{ post.content }}
						<div>
							<a class="news-page-cards-button" href="{{ post.url | absolute_url }}">
								More
							</a>
						</div>
					</div>

				</div>
				{% endif %}
				{% assign count = count | plus: 1 %}
				{% endfor %}

				<div class="col-lg-12 text-center">
					<a class="btn btn-light btn-xl js-scroll-trigger shadow" href="./news.html">
						<h4>New News</h4>
					</a>
				</div>


			</div>
		</div>
	</section>
</section><!-- about part start-->