---
layout: section
title: "News"
main_title: "Home"
---
<!-- about part start-->
<section class="full-width">

<section class="jumbotron jumbotron-fluid">
   <div class="full-width side-gap towers">

      <div class="row" style="margin: 2rem auto">
	  
	  <!-- post for loop starts -->	
      {% assign sortedCourses = site.categories['news'] | reverse %}
	  {% for post in site.posts %}
	  {% assign var = var | plus:1 %}
	  
	  
		<div class="col-lg-4">          
			<h3>{{post.title}}</h3>
			<hr class="highlight">

			<div id="carouselExampleControls_{{var}}" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100 desk" src="./assets/images/news/{{post.img_1}}" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 desk " src="./assets/images/news/{{post.img_2}}" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 desk " src="./assets/images/news/{{post.img_3}}" alt="Third slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 desk " src="./assets/images/news/{{post.img_4}}" alt="Third slide">
					</div>

					<a class="carousel-control-prev" href="#carouselExampleControls_{{var}}" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls_{{var}}" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>			
			<h5>{{post.content}}</h5><hr>
		</div>	      
	  
	  {% assign var1 = var1 | plus: 1 %}
	  {% endfor %}
	  <!-- post for loop ends -->


         
		<div class="col-lg-4">          
			<h3>Sunshine Counselling Session</h3>
			<hr class="highlight">
			<div id="carouselExampleControls_2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100 desk" src="./assets/images/news/8-7-2020/1.jpeg" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 desk " src="./assets/images/news/8-7-2020/2.jpeg" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 desk " src="./assets/images/news/8-7-2020/3.jpeg" alt="Third slide">
					</div>

					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls_2" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<h5><p><a href="http://sunshine.iith.ac.in/" target="_blank">Sunshine Counselling Club</a> conducted a virtual session on July 5th for the students to share their experiences during this lockdown. Some faculty members also took part and interacted with the students and motivated the students to stay positive, energetic and safe.</h5></p><hr>
		</div>	      


      </div>
    </div>
  </section>
</section><!-- about part start-->
