---
layout: section
title: "Training and Placement Cell"
main_title: "Home"
---

<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom:130px ">
    <div class="container">

        <h1><b>Training and Placement Cell</b></h1>
        <h2><br>About Us</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="about_text">
            <h4>
                The Training and Placement cell of IIIT Raichur started functioning in April 2021. The cell is
                responsible for facilitating and monitoring the recruitment activities related to internships and
                placements. It also conducts various training sessions for developing soft skills, problem-solving
                skills, coding quizzes, etc., to prepare the students for the interviews and coding exams.
            </h4>
        </div>

        <br>
        <h2><br>Why Recruit Us</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        <br>
        <div class="about_text">
            <h3><b>Academic System</b></h3>
            <h4>
                Being mentored by IITH, IIITR has adopted the innovative fractal academics system, which warrants
                continuous evaluation. This ensures the students have a deeper understanding of the core subjects.
            </h4>
        </div>
        <br>
        <div class="about_text">
            <h3><b>The Prodigious Curriculum</b></h3>
            <h4>
                The highly flexible curriculum forged by the esteemed faculty of IITH and IIITR exuberates innovation
                and inventiveness. With core subjects being incorporated from the first semester itself, the students
                are able to finish their courses quite early and focus on developing projects & industry relevant
                skills.
            </h4>
        </div>
        <br>
        <div class="about_text">
            <h3><b>Industry-Relevant Work Experience</b></h3>
            <h4>
                The students are working in different startups and tech giants from the first lf which prepares them for
                the industry, working in different fields like Data Science Machine Learning, Web Development, Software
                Development, etc. They have been exploring industry-relevant skills & technologies like Python, C++,
                Java, Javascript, flutter, Go, flask, NoSQL, SQL, Django, Node, Vue, React, Docker, among others.
            </h4>
        </div>

        <br>

        <h2><br>Information for Companies</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        <br>
        <div class="about_text">
            <h3>Internship Brochure (<a target="_blank" href="https://online.fliphtml5.com/odppx/oxhz/">Flipbook</a> | <a href="./assets/files/tnp/IIITR Internship Brochure.pdf">Download</a> )</h3>
            <hr style="margin-left:5px; border: 1px solid blue; width:20px;">
            <br>
            <h3><a href="https://docs.google.com/forms/d/e/1FAIpQLSdEp7n5Ei32bgNJbjde_LatpnuPr1yfs2G163qs5Qn-qcyAEw/viewform">Registration Form</a></h3>
            <hr style="margin-left:5px; border: 1px solid blue; width:20px;">
        </div>

        <h2><br>Contact Us</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="about_text">
            <h3>
                Dr. Sadhana Jha (Faculty Incharge)<br>
                <h4>
                    <a href="mailto:fic.placement@iiitr.ac.in" class="fa fa-envelope"> fic.placement@iiitr.ac.in</a><br>
                    <a href="tel://8768779475" class="fa fa-phone"> 8768779475</a>
                </h4>


                <h4>
                    Aditya Agrawal (Student Coordinator)<br>
                    <a href="mailto:tnp@iiitr.ac.in" class="fa fa-envelope"> tnp@iiitr.ac.in</a><br>
                    <a href="tel://9785559273" class="fa fa-phone"> 9785559273</a>
                </h4>

                <h4>
                    Reethu Sanagala (Student Coordinator)<br>
                    <a href="mailto:tnp@iiitr.ac.in" class="fa fa-envelope"> tnp@iiitr.ac.in</a><br>
                    <a href="tel:// 8919239558" class="fa fa-phone"> 8919239558</a>
                </h4>

            </h3>
        </div>

    </div>
</section>