---
layout: section
title: "Public Relations Council"
main_title: "Home"
---
<!-- about part start-->

<section class="about_part section_padding" style="padding-bottom:130px ">
	<div class="container">

		<h1><br><b>Nodal Officer for Public Relations</b></h1>
		<hr style="margin-left:5px; border: 2px solid blue; width:80px;">

		<div class="row">

			<div class="col-lg-3 col-12"><img src="assets/images/prteam/mitalee.webp"
					style="width:80%;text-align:center; border-radius:10%; margin-right:10%;margin-left:10%;padding-bottom:20px;" />
			</div>

			<div class="col-lg-6 col-12">
				<h2>Mrs. Mitalee Agrawal</h2>
				<h4>Public Relations Officer, IIIT Raichur<br><br>
					Mail : <a href="mailto:pro@iith.ac.in">pro[at]iith.ac.in</a><br>
					Call : 8331036099 | 040-2301 6099

				</h4><br>
			</div>

		</div>

	</div>
	<!-- PR Secretary -->
	<div class="container">
		<h2><br>Public Relations Secretary</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">

		<div class="row">
			<!-- Leela Madhuri -->
			<div class="col-lg-6" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/leela.webp" />
						<div class="profileinfo">
							<h1>Leela Madhuri</h1>
							<h3><br>
								<a href="media@iiitr.ac.in" class="fa fa-envelope"></a>&nbsp;&nbsp;
								<a href="https://www.linkedin.com/in/leela-madhuri-a9a466205" class="fa fa-linkedin"
									class="text-info">&nbsp;</a> &nbsp;&nbsp;
								<a href="tel://7396853676" class="fa fa-phone"></a>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>
		</div>
	</div>

	<!-- Website Team -->
	<div class="container">
		<h2><br>Website Team</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">

		<div class="row">

			<!-- Abhyuday Choumal -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/abhyuday.webp" />
						<div class="profileinfo">
							<h1>Abhyuday Choumal</h1>
							<h3>Task Lead &nbsp;&nbsp;
								<a href="https://www.linkedin.com/in/abhyuday-choumal-97aa121aa/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
								<a href="cs20b1001@iiitr.ac.in" class="fa fa-envelope"></a>&nbsp;&nbsp;
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Koushik Puppala -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/koushik.webp" />
						<div class="profileinfo">
							<h1>Koushik Puppala</h1>
							<h3>Task Master &nbsp;&nbsp;
								<a href="https://www.linkedin.com/in/puppalakoushik" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Priyansh Agrahari -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/priyansh.webp" />
						<div class="profileinfo">
							<h1>Priyansh Agrahari</h1>
							<h3>Task Master &nbsp;&nbsp;
								<a href="https://www.linkedin.com/in/priyansh-agrahari/"
									class="fa fa-linkedin" class="text-info">&nbsp;</a>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Yugal Garg -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/yugal.webp" />
						<div class="profileinfo">
							<h1>Yugal Garg</h1>
							<h3>Task Master &nbsp;&nbsp;
								<a href="cs20b1027@iiitr.ac.in" class="fa fa-envelope"></a>&nbsp;&nbsp;
								<a href="https://www.linkedin.com/in/yugal-garg-8894a0209/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

		</div>

	</div>

	<!-- Content and Creatives -->
	<div class="container">
		<h2><br>Content and Creatives</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<div class="row">
			<!-- Kaustubh -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/kaustubh.png" />
						<div class="profileinfo">
							<h1>Kaustubh</h1>
							<h3>Task Lead &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/kaustubh-kesharwani-9088231a0/"
									class="fa fa-linkedin" class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Reethu Sanagala -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/reethu.webp" />
						<div class="profileinfo">
							<h1>Reethu Sanagala</h1>
							<h3>Task Lead &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/reethu-sanagala-b9b3971a5/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Siddharth Saini -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/siddharth.webp" />
						<div class="profileinfo">
							<h1>Siddharth Saini</h1>
							<h3>Task Lead &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/reethu-sanagala-b9b3971a5/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Manav Garg -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/manavg.webp" />
						<div class="profileinfo">
							<h1>Manav Garg</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/manav-garg-938b91204/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Subha Sree Balija -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/subh.webp" />
						<div class="profileinfo">
							<h1>Subha Sree Balija</h1>
							<h3>Task Master &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/manav-garg-938b91204/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Uttakarshika -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/uttakarshika.webp" />
						<div class="profileinfo">
							<h1>Uttakarshika</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/uttakarshika-uttakarshika-993a27209/"
									class="fa fa-linkedin" class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Anushka Garg -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/cs21b1032_Anushka.webp" />
						<div class="profileinfo">
							<h1>Anushka Garg</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/anushka-garg-28664922b" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Deep Patel -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21B1008_Deep.jpg" />
						<div class="profileinfo">
							<h1>Deep Patel</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/deep-patel-1444b022a/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Prince -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21B1023_PRINCE.JPG.webp" />
						<div class="profileinfo">
							<h1>Prince</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/prince-keshri-abc-262b1b224/"
									class="fa fa-linkedin" class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Nirdesh -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21B1016_Nirdesh.webp" />
						<div class="profileinfo">
							<h1>Nirdesh</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/nirdesh-gothania-70367822a" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Ashutosh -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21B1003_ASHUTOSH-SHUKLA.webp" />
						<div class="profileinfo">
							<h1>Ashutosh</h1>
							<h3>Task Master &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/nirdesh-gothania-70367822a"
									class="fa fa-linkedin" class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Anubhav -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21B1002_-Anubhav-Singh.webp" />
						<div class="profileinfo">
							<h1>Anubhav</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/anubhav-singh-3818a3229" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Pranathi -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/cs21b1043_pranathi.webp" />
						<div class="profileinfo">
							<h1>Pranathi</h1>
							<h3>Task Master &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/anubhav-singh-3818a3229"
									class="fa fa-linkedin" class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Manasa -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS20B1022_Manasa.webp" />
						<div class="profileinfo">
							<h1>Manasa</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/manasa-swamireddy" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Aditya -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/cs21b1001_Aditya-Raj.webp" />
						<div class="profileinfo">
							<h1>Aditya</h1>
							<h3>Task Master &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/manasa-swamireddy"
									class="fa fa-linkedin" class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Vivek -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21b1007_Abel Vivek.webp" />
						<div class="profileinfo">
							<h1>Vivek</h1>
							<h3>Task Master &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/manasa-swamireddy"
									class="fa fa-linkedin" class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Neeharika Telu -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21B1029_NEEHARIKA-TELU.webp" />
						<div class="profileinfo">
							<h1>Neeharika Telu</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/neeharika-telu-1235b322b" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Naman Kumar -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21B1014_Naman Kumar.jpg" />
						<div class="profileinfo">
							<h1>Naman Kumar</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/naman-kumar-0569aa228" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Pratham Jain -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS21b1021 - Pratham Jain .jpg" />
						<div class="profileinfo">
							<h1>Pratham Jain</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/pratham-jain-56682620a" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Manish Kumar -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/cs21b1010_manish kumar.webp" />
						<div class="profileinfo">
							<h1>Manish Kumar</h1>
							<h3>Task Master &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/pratham-jain-56682620a"
									class="fa fa-linkedin" class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Suraj -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/cs21b1028_SURAJ-KUMAR_.webp" />
						<div class="profileinfo">
							<h1>Suraj</h1>
							<h3>Task Master &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/pratham-jain-56682620a"
									class="fa fa-linkedin" class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Prayas -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/cs21b1022-Prayas.webp" />
						<div class="profileinfo">
							<h1>Prayas</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/prayas-raj-549598230/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>
		</div>

	</div>

	<!-- Social Media -->
	<div class="container">

		<h2><br>Social Media</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<div class="row">

			<!-- Gowtham Kancharla -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/gowtham.webp" />
						<div class="profileinfo">
							<h1>Gowtham Kancharla</h1>
							<h3>Task Lead &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/gowtham-kancharla-abb468197/"
									class="fa fa-linkedin" class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Abhay Suresh -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/abhay.webp" />
						<div class="profileinfo">
							<h1>Abhay Suresh</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/abhay-suresh-iiitr" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Abhyuday Choumal -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/abhyuday.webp" />
						<div class="profileinfo">
							<h1>Abhyuday Choumal</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/abhyuday-choumal-97aa121aa/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- <div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/akhil.webp" />
						<div class="profileinfo">
							<h1>Akhil Nerella</h1>
							<h3>CS19B1020 &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/akhil-n-b6a1501b6/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/leela.webp" />
						<div class="profileinfo">
							<h1>Leela Madhuri</h1>
							<h3>CS20B1012 &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/leela-madhuri-a9a466205/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/manav.webp" />
						<div class="profileinfo">
							<h1>Manav Chaudhary</h1>
							<h3>CS19B1018</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div> -->

			<!-- Manav Garg -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/manavg.webp" />
						<div class="profileinfo">
							<h1>Manav Garg</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/manav-garg-938b91204/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- <div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/siddharth.webp" />
						<div class="profileinfo">
							<h1>Siddharth Saini</h1>
							<h3>CS19B1024&nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/siddharth-saini-1468b8194/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/suhani.webp" />
						<div class="profileinfo">
							<h1>Suhani Kalra</h1>
							<h3>CS20B1021 &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/suhani-kalra-091672209/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/uttakarshika.webp" />
						<div class="profileinfo">
							<h1>Uttakarshika</h1>
							<h3>CS20B1023 &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/uttakarshika-uttakarshika-993a27209/"
									class="fa fa-linkedin" class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div> -->

		</div>

	</div>

	<!-- Digital Media -->
	<div class="container">

		<h2><br>Digital Media</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<div class="row">

			<!-- Chetan Sarigala -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/chetan.webp" />
						<div class="profileinfo">
							<h1>Chetan Sarigala</h1>
							<h3>Task Lead &nbsp; &nbsp;
								<!-- <a href="https://www.linkedin.com/in/gowtham-kancharla-abb468197/"
									class="fa fa-linkedin" class="text-info">&nbsp;</a> -->
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- <div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/suhani.webp" />
						<div class="profileinfo">
							<h1>Suhani Kalra</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/suhani-kalra-091672209/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div> -->

			<!-- Sai Yaaminie Ganda -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/yaaminie.webp" />
						<div class="profileinfo">
							<h1>Sai Yaaminie Ganda</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/abhay-suresh-iiitr" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Srinitha Beerelly -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/CS20B1004.jpeg" />
						<div class="profileinfo">
							<h1>Srinitha Beerelly</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/srinitha-beerelly-20017a205" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Sikander Kathat -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/prteam/cs20b1020_sikander.png" />
						<div class="profileinfo">
							<h1>Sikander Kathat</h1>
							<h3>Task Master &nbsp; &nbsp;
								<a href="https://www.linkedin.com/in/sikander-kathat-6437b9204/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

		</div>

	</div>

	<style>
		.card_1 {
			padding: 20px;
			border-radius: 3px;
			background-color: white;
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
			position: relative;
			overflow: hidden;
		}

		.card_1:after {
			content: '';
			display: block;
			width: 50%;
			height: 100%;
			background: cadetblue;
			position: absolute;
			animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
		}


		.firstinfo {
			flex-direction: row;
			z-index: 2;
			position: relative;
		}

		.firstinfo img {
			border-radius: 50%;
			width: 100px;
			height: 100px;
		}

		.firstinfo .profileinfo {
			padding: 0px 20px;
		}

		.firstinfo .profileinfo h1 {
			font-size: 2.1em;
		}

		.firstinfo .profileinfo h3 {
			font-size: 1.5em;
			font-style: italic;
		}

		.firstinfo .profileinfo p.bio {
			padding: 10px 0px;
			line-height: 1.2;
			font-style: initial;
		}

		@keyframes animatop {
			0% {
				opacity: 0;
				bottom: -500px;
			}

			100% {
				opacity: 1;
				bottom: 0px;
			}
		}

		@keyframes animainfos {
			0% {
				bottom: 10px;
			}

			100% {
				bottom: -42px;
			}
		}

		@keyframes rotatemagic {
			0% {
				opacity: 0;
				transform: rotate(0deg);
				top: -24px;
				left: -253px;
			}

			100% {
				transform: rotate(-30deg);
				top: -24px;
				left: -78px;
			}
		}
	</style>

	</div>
</section>
<!-- about part start-->