---
layout: section
title: "Programs"
main_title: "Academics"
---

<!-- about part start-->
<section class="section_padding" style="padding-bottom:130px ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <h3>IIIT Raichur offers undergraduate program Bachelors of Technology (B.Tech) in Computer Science
                        and Engineering.</a>
                    </h3>
                </div>
            </div>
            <div class="col-md-10 col-lg-10">
                <h3><br>CGPA to Percentage Conversion Rule</h3>
                <h4>
                    <a href="./assets/files/downloads/Percentage Certificate _ IIIT Raichur.pdf">Download here</a>
                </h4>
            </div>
        </div>
    </div>
</section>
<!-- about part start-->