---
layout: section
title: "How to Reach"
main_title: "About"
---	

    <!-- breadcrumb start-->
    <section class="about_part section_padding">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-10 col-lg-12">
                        <div class="about_text">
							<h2>DIRECTIONS TO REACH IIIT RAICHUR CAMPUS at GEC Raichur</h2>
							<hr class="divider dark my-12" style="border: 0.5px solid blue;">
							<p style="font-weight:600">
								All the activities of IIIT Raichur will be running in new temporary campus at the Government Engineering College, Raichur.
							</p>
							<p style="font-weight:450"><strong>GEC Raichur:</strong> It is located at Yeramarus which is 10 Kilometers away from Raichur city.</p>
								<br>
							<br>
                            <h3><b>From Raichur City</b></h3>
							<p style="color: cornflowerblue;font-weight:450"><strong>From Raichur Bus Station to GEC Raichur<br>Bus Stand Road, Androon Quilla, Raichur, Karnataka.</strong><p>
							<p style="font-weight:425">
								+ Take a local bus at Raichur bus station towards Sagamkunta, D. Rampur. The Journey takes about 15 min from Raichur Bus station.<br>
								+ Bus station is about 7.2 Km from Government Engineering College Raichur.<br>
								+ At Raichur Bus Station Catch local bus towards Sagamkunta and D. Rampur (Raichur bus Station-Ambedkar circle stop-Basweshwara circle stop-Gung circle stop-RIMS-Yeramarus Camp-I Stop-SLN College of Engineering.)<br>
								+ GEC Bus stop will come before Yeramarus Camp I.<br>

								<b>Note</b><br>
								Autos are also available from Raichur Bus Station to GEC Raichur.<br>
								Bus Charge approximately – 10/-<br>
								Auto Charges approximately- 80/-<br><br>
							</p>

							<p style="color: cornflowerblue;font-weight:450"><strong>From Raichur Railway Station to GEC Raichur</strong></p>
							<p style="font-weight:425">
								+ Autos are available from Raichur Railway station to Bus Stop.<br>
								+ Local autos are available from Raichur Railway station to GEC Raichur.<br>
								+ Auto Charges from Raichur Railway station to GEC Raichur Approx. 90/- <br>
								+ Local buses are available from Raichur bus station towards Sagamkunta and D. Rampur which will reach GEC Raichur within 20 min.<br>
								+ Distance from Railway station to GEC Raichur is Approximately 8.5 KM.<br>
							</p>
							
							<br><br>
							<h3><b>From Hyderabad</b></h3>

							<p style="color: cornflowerblue;font-weight:450"><strong>By Bus from Mahatma Gandhi bus station (MGBS)</strong></p>
							<p style="font-weight:425">
								+ Take a bus towards Raichur from terminal no. 30 at Mahatma Gandhi bus station (MGBS) Hyderabad (Ticket charges Approx Rs.220/- ) <br>
								+ Buses are available after every 30 min from MGBS.<br>
								+ Distance from MGBS to GEC Raichur is approx. 200 km.<br>
							</p>

							<p style="color: cornflowerblue;font-weight:450"><strong>By Train from Secunderabad railway station</strong></p>
							<p style="font-weight:425">
								+ Take a train from Secunderabad railway station towards Raichur.<br>
								+ Distance from Secunderabad Railway station to Raichur Railway station is approx. 220 km.<br>
								+ The Journey takes approximately 5 hrs from Secunderabad Railway Station to Raichur Railway station.<br>
								+ Ticket charges Rs.125/- (General ticket fair) from Secunderabad Railway station to Raichur Railway station.<br>
							</p>
							
							<br><br>
							<h3><b>From Rajiv Gandhi International Airport Hyderabad</b></h3>
							
							<p style="font-weight:425">
								Authorized Taxis are available from RGI Airport to GEC Raichur. Taxi fare approx (Rs.3500 – Rs.5000) depending on time.<br>
								<b>OR</b><br>
								Take a Cab from RGI Airport to Mahatma Gandhi bus station (MGBS) Hyderabad, Catch interstate bus towards Raichur at terminal no 30 at Mahatma Gandhi bus station. (Ticket charges Approx Rs.220/- )<br>
								<b>OR</b><br>
								Take a Cab from RGI Airport to Secunderabad railway station, Catch the trains towards Raichur.<br>
							</p>
							<br><br>
							<h3><a href="./assets/files/location/How to reach IIIT Raichur.pdf">Click here </a>to download the Location Guide.</h3>
							<br><br>

						</div>
					</div>
					
					<div class="col-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3830.4220190966116!2d77.36481471332213!3d16.25012718683498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc9d0b2f016db69%3A0xc0bdd1de3bb5246!2sGovt.%20Engg.%20College%20Admin%20Block!5e0!3m2!1sen!2sin!4v1604916729627!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>

                </div>
            </div>
	     	
        </section>
    <!-- ================ contact section start ================= -->
    <!-- ================ contact section end ================= -->
