---
layout: section
title: "Reports"
main_title: "Home"
---

<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom:130px ">
    <div class="container">

        <h1><b>Reports</b></h1>
        <h2><br>Annual Report</h2>

        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="about_text">
            <h3>
                Annual Report 2020-2021
            </h3>
            <h4>
                <a target="_blank" href="https://online.fliphtml5.com/zvpun/coop/">Read as FlipBook</a><br>
                <a href="./assets/files/reports/annual/IIIT Raichur Annual Report 2020-21.pdf">Download</a>
            </h4>
        </div>
        
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="about_text">
            <h3>
                Annual Report 2019-2020
            </h3>
            <h4>
                <a target="_blank" href="https://online.fliphtml5.com/zvpun/ihok/">Read as FlipBook</a><br>
                <a href="./assets/files/reports/annual/IIIT Raichur Annual Report 2019-2020.pdf">Download</a>
            </h4>
        </div>

    </div>
</section>
