---
layout: section
title: "RTI"
main_title: "Home"
---

{% include administration_table.html %}


<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom:130px ">
    <div class="container">

        <h1><b>RTI</b></h1>
        <h2><br>About RTI Act, 2005</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="about_text">
            <h4>
                Online Payment:Right to Information (RTI) is an Act of the Indian Parliament enforced from the year
                2005, to provide for a practical regime for citizens to secure access to information under the control
                of public authorities. The basic object of the Right to Information Act is to empower the citizens,
                promote transparency and accountability in the working of the Government, contain corruption, and make
                our democracy work for the people in real sense. It goes without saying that an informed citizen is
                better equipped to keep necessary vigil on the instruments of governance and make the government more
                accountable to the governed. The Act is a big step towards making the citizens informed about the
                activities of the Government For more information please click <a href="https://rti.gov.in/">here</a>
            </h4>
        </div>

        <h2><br>Fee and Address for RTI Application</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        <div class="about_text">
            <h4>
                A person who desires to seek information under RTI Act 2005 from IIIT Raichur Public Authority is
                required to send application to The CPIO, IIIT Raichur
                along with a demand draft or a banker’s cheque or an Indian Postal Order of Rs.10/- (Rupees ten),
                payable to The Director, IIIT Raichur as fee for seeking information.
            </h4>
        </div>


        <!-- Table started -->
        <h2><br>Public Information Officers</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        <div class="progress-table-wrap">
            <table id="customers">
                <tr>
                    <th>Member Name</th>
                    <th>Role</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td style="width:40%">Mr. V. Venkat Rao</td>
                    <td style="width:30%">Central Public Information Officer</td>
                    <td style="width:30%">cpio[at]iith.ac.in</td>
                </tr>
                <tr>
                    <td style="width:40%">Commodore Manohar Nambiar ( Retd. )</td>
                    <td style="width:30%">First Appellate Authority</td>
                    <td style="width:30%">registrar[at]iith.ac.in</td>
                </tr>
            </table>
            <br>
        </div>


        <h2><br><br>Compliance under section 4 (1) (b) of the Right to Information Act, 2005</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        <div class="about_text">
            <h4>
                Monthly remuneration received by each of its officers and employees, including the system of
                compensation as provided in its regulations (as on Jan 2021).<br>
                <a target="_blank"
                    href="./assets/files/rti/Compliance under section 4 (1) (b) of the Right to Information Act, 2005.pdf">Download</a>
            </h4>
        </div>

    </div>
</section>
<!-- about part start-->