---
layout: section
title: "Tender Details"
main_title: "Home"
---
{% include administration_table.html %}
<!-- about part start-->
<section class="about_part section_padding" style="padding-bottom:130px ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="about_text">

                    <h1>Tender Details</h1>
                    <hr style="margin-left:5px; border: 2px solid blue; width:50px;"><br>

                    <div class="progress-table-wrap">
                        <table id="customers">
                            <tr>
                                <th style="width:10%">Start Date</th>
                                <th style="width:60%">Description</th>
                                <th style="width:10%">Documents</th>
                                <th style="width:10%;">Pre-bid Meeting</th>
                                <th style="width:10%">End Date</th>
                            </tr>
                            <tr>
                                <td style="width:10%">18-05-2022</td>
                                <td style="width:60%">Modifications and Alteration of Electrical works in Hostels Blocks and Institute Building at Temporary Campus, IIIT Raichur</td>
                                <td style="width:10%">
                                    <a href="./assets/files/tender/NIQ-2-IIITR.pdf" target="_blank">Tender
                                        File</a><br>
                                </td>
                                <td style="width:10%;">-</td>
                                <td style="width:10%">25-05-2022 <br> By 03:00 PM</td>
                            </tr>
                            <tr>
                                <td style="width:10%">09-04-2021</td>
                                <td style="width:60%">Indian Institute of Technology Hyderabad invites online bids for
                                    Providing of LAN/Wi-Fi at IIIT Raichur Campus</td>
                                <td style="width:10%">
                                    <a href="./assets/files/tender/T003RaichurCampusLAN.pdf" target="_blank">Tender
                                        File</a><br>
                                    <a href="./assets/files/tender/lan/Corrigendum-01T003.pdf">Corrigendum 1</a><br>
                                    <a href="./assets/files/tender/lan/Corrigendum-02T003-IIIT-Raichur.pdf">Corrigendum
                                        2</a><br>
                                    <a href="./assets/files/tender/lan/Corrigendum-02A-T003-IIIT-Raichur.pdf">Corrigendum
2A</a><br>
                                    <a href="./assets/files/tender/lan/Corrigendum-03-T003-IIIT-Raichur.pdf">Corrigendum
                                        3</a><br>
                                </td>
                                <td style="width:10%;">-</td>
                                <td style="width:10%">29-04-2021 <br> By 03:00 PM</td>
                            </tr>
                            <tr>
                                <td style="width:10%">01-09-2020</td>
                                <td style="width:60%">Expression of Interest for Appointment of Architect for
                                    Comprehensive Architectural Design Package for Development of Master Plan, Academic
                                    Block, Administrative Block, Faculty & Staff Housing, Student Hostels, Sports
                                    Facilities and Related Infrastructure for IIIT Raichur </td>
                                <td style="width:10%">
                                    <a href="./assets/files/EOI_Architects_IIIT Raichur_01092020.pdf"
                                        target="_blank">Tender File</a><br>
                                    <a href="./assets/files/Corrigendum to EOI_IIIT Raichur_16092020.pdf"
                                        target="_blank">Corrigendum</a><br>
                                </td>
                                <td style="width:10%;">14-09-2020 <br> By 11:30 Hrs</td>
                                <td style="width:10%">28-09-2020 <br> By 15:00 Hrs</td>
                            </tr>

                        </table>
                    </div>

                    <hr style="margin-left:5px; border: 1px solid blue; width:200px;">
                    <!-- <div class="col-lg-12">
                            <h3>
                                Pre-Bid Query and Reply <br><a href="./assets/files/PREBID QUERY and REPLY_IIIT RAICHUR.pdf">Download</a>
                            </h3>
                            <br>
                            <h3>
                                Evaluation of EOI bid <br><a href="./assets/files/tender/IIIT Raichur_ Evaluation of EOI_04122020.pdf">Download</a>
                            </h3>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part start-->