---
layout: section
title: "Documents"
main_title: "About"
---	

    <!-- about part start-->
    <section class="about_part section_padding" style="padding-bottom:130px ">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-12 col-lg-12">
                    <div class="about_text">
                    <hr class="divider dark my-4">
                    <h3>Documents</h3>
                    <hr class="divider dark my-4">
                    <h4>
                          <ul>
                                <li><a href="assets/files/Gender-Information-IIIT-Raichur.docx">Gender Information about IIIT Raichur</li><br>
                          </ul>
                    </h4>                   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part start-->
