---
layout: section
title: "Website Team"
main_title: "Home"
---
<!-- about part start-->

<section class="about_part section_padding" style="padding-bottom:130px ">
	<div class="container">
		<h1><b>THE WEBSITE TEAM</b></h1>

		<h2><br>Faculty Incharge</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">

		<div class="col-lg-6">
			<h2></h2>
			<h3>Dr. Subrahmanyam Kalyanasundaram</h3>
			<h4>Associate Professor, Department of Computer Science and Engineering <br>IIT Hyderabad</h4>
			<h4>Mail: <a href="subruk@cse.iith.ac.in">subruk[at]cse.iith.ac.in</a></h4><br>
		</div>


		<h2>Web Developers</h2>
		<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
		<div class="row content" style="padding-top: 30px">

			<!-- Vibhanshu Jain Card -->
			<div class="col-lg-6" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/vibhanshu.jpeg" />
						<div class="profileinfo">
							<h1>Vibhanshu Jain</h1>
							<h3><b>Team Lead</b><br>
								CS19B1027<br>
								B.tech CSE Department</h3>
							<h2>
								<a href="https://www.linkedin.com/in/vibhanshu-jain-02a4b01a0" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
								<a href="https://vibhanshujainiiitr.github.io/" class="fa fa-github"
									class="text-info">&nbsp;</a>
								<a href="https://vibhanshujain.in/" class="fa fa-google" class="text-info">&nbsp;</a>
								<a href="mailto:cs19b1027@iiitr.ac.in" class="fa fa-envelope"
									class="text-info">&nbsp;</a><br>
							</h2>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<div class="col-lg-6"></div>
			<!-- Abhyuday Choumal Card -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/abhyuday.webp" />
						<div class="profileinfo">
							<h1>Abhyuday Choumal</h1>
							<h3>CS20B1001<br>
								B.tech CSE Department</h3>
							<h2>
								<!-- <a href="https://www.linkedin.com/in/vibhanshu-jain-02a4b01a0" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
								<a href="https://vibhanshujainiiitr.github.io/" class="fa fa-github"
									class="text-info">&nbsp;</a>
								<a href="https://vibhanshujain.tech/" class="fa fa-google" class="text-info">&nbsp;</a> -->
								<a href="mailto:cs20b1001@iiitr.ac.in" class="fa fa-envelope"
									class="text-info">&nbsp;</a><br>
							</h2>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Yugal Garg Card -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/yugal.webp" />
						<div class="profileinfo">
							<h1>Yugal Garg</h1>
							<h3>CS20B1027<br>
								B.tech CSE Department</h3>
							<h2>
								<a href="https://www.linkedin.com/in/yugal-garg-8894a0209/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
								<!-- <a href="https://vibhanshujainiiitr.github.io/" class="fa fa-github"
									class="text-info">&nbsp;</a>
								<a href="https://vibhanshujain.tech/" class="fa fa-google" class="text-info">&nbsp;</a> -->
								<a href="mailto:cs20b1027@iiitr.ac.in" class="fa fa-envelope"
									class="text-info">&nbsp;</a><br>
							</h2>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Puppala Koushik -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/koushik.webp" />
						<div class="profileinfo">
							<h1>Puppala Koushik</h1>
							<h3>CS20B1015<br>
								B.tech CSE Department</h3>
							<h2>
								<!-- <a href="https://www.linkedin.com/in/vibhanshu-jain-02a4b01a0" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
								<a href="https://vibhanshujainiiitr.github.io/" class="fa fa-github"
									class="text-info">&nbsp;</a>
								<a href="https://vibhanshujain.tech/" class="fa fa-google" class="text-info">&nbsp;</a> -->
								<a href="mailto:cs20b1015@iiitr.ac.in" class="fa fa-envelope"
									class="text-info">&nbsp;</a><br>
							</h2>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

			<!-- Priyansh Agrahari -->
			<div class="col-lg-4" style="padding-bottom:30px;">
				<div class="card_1">
					<div class="firstinfo"><img src="assets/images/webteam/priyansh.webp" />
						<div class="profileinfo">
							<h1>Priyansh Agrahari</h1>
							<h3>CS20B1014<br>
								B.tech CSE Department</h3>
							<h2>
								<a href="https://www.linkedin.com/in/priyansh-agrahari/" class="fa fa-linkedin"
									class="text-info">&nbsp;</a>
								<a href="mailto:cs20b1014@iiitr.ac.in" class="fa fa-envelope"
									class="text-info">&nbsp;</a><br>
							</h2>
						</div>
					</div>
				</div>
				<div class="badgescard"> <span class="devicons devicons-django"></span><span
						class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span
						class="devicons devicons-javascript_badge"></span><span
						class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span
						class="devicons devicons-sass"> </span>
				</div>
			</div>

		</div>

		<div class="container">
			<h2><br>Content</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3><b><a href="./prcouncil.html">Public Relations Team</a></b><br></h3>

			<h3>Mrs. Mitalee Agrawal</h3>
			<h4>
				<ul>
					<li>Abhyuday Choumal</li>
					<li>Koushik Puppala</li>
					<li>Yugal Garg</li>
					
				</ul>
			</h4>
			<h3><b>Click <a href="./prcouncil.html">here</a> more information</b></h3>

		</div>

		<!-- The Admin Team -->
		<div class="container">

			<h2><br>Contact</h2>
			<hr style="margin-left:5px; border: 2px solid blue; width:50px;">
			<h3>For content updates send us mail </h3>
			<h3>Dr. Subrahmanyam Kalyanasundaram : <a href="mailto:subruk@cse.iith.ac.in">subruk[at]cse.iith.ac.in</a>
			</h3>
			<h3>Vibhanshu Jain : <a href="mailto:cs19b1027@iiitr.ac.in">cs19b1027[at]iiitr.ac.in</a></h3>
		</div>


		<style>
			.card_1 {
				padding: 20px;
				border-radius: 3px;
				background-color: white;
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
				position: relative;
				overflow: hidden;
			}

			.card_1:after {
				content: '';
				display: block;
				width: 50%;
				height: 100%;
				background: cadetblue;
				position: absolute;
				animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
			}


			.firstinfo {
				flex-direction: row;
				z-index: 2;
				position: relative;
			}

			.firstinfo img {
				border-radius: 50%;
				width: 100px;
				height: 100px;
			}

			.firstinfo .profileinfo {
				padding: 0px 20px;
			}

			.firstinfo .profileinfo h1 {
				font-size: 2.1em;
			}

			.firstinfo .profileinfo h3 {
				font-size: 1.5em;
				font-style: italic;
			}

			.firstinfo .profileinfo p.bio {
				padding: 10px 0px;
				line-height: 1.2;
				font-style: initial;
			}

			@keyframes animatop {
				0% {
					opacity: 0;
					bottom: -500px;
				}

				100% {
					opacity: 1;
					bottom: 0px;
				}
			}

			@keyframes animainfos {
				0% {
					bottom: 10px;
				}

				100% {
					bottom: -42px;
				}
			}

			@keyframes rotatemagic {
				0% {
					opacity: 0;
					transform: rotate(0deg);
					top: -24px;
					left: -253px;
				}

				100% {
					transform: rotate(-30deg);
					top: -24px;
					left: -78px;
				}
			}
		</style>

	</div>
</section>
<!-- about part start-->