---
layout: default
title: Alka
---

<section class="section_padding">
    <div class="container faculty">
        <div class="row">
            <div class="col-lg-12 name-heading text-center">
                <h1>Alka</h1>
                <h3><b>Assistant Professor</b><br>
                    <br>Department of Mathematics
                </h3>
                <hr style="margin-left:auto; border: 2px solid blue; width:50px;">
            </div>

            <div class="col-lg-3 image">
                <img src="{{ site.baseurl }}/assets/images/faculty/math/alka.jpg">
            </div>

            <div class="col-lg-9 content introduction">
                <h3>Introduction</h3>
                <p>
                    She is an Assistant Professor of Mathematics IIIT Raichur. She has joined IIIT Raichur on 1st
                    February 2021.
                </p>

                <div class="row">
                    <div class="col-lg-4">
                        <h3>Research Interests</h3>
                        <ul>
                            <li>Fractional Differential Equations</li>
                            <li>Stochastic Differential Equations</li>
                            <li>Semigroup Theory</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><br>Contact</h2>
                <hr style="margin-left:auto; border: 2px solid blue; width:50px;">
            </div>

            <div class="col-lg-3">
                <h4> Mail<br>
                    <a href="mailto:alka03@iiitr.ac.in">alka03[at]iiitr.ac.in</a>
                </h4>
            </div>
            <div class="col-lg-3">
                <h4>
                    Telephone Number
                </h4>
            </div>

            <div class="col-lg-3">
                <h4>
                    Room No.
                </h4>
            </div>

            <div class="col-lg-3">
                <h4>
                    Website<br>
                    <a href="https://scholar.google.co.in/citations?user=kCXEuJ0AAAAJ&hl=en">Google Site</a>
                </h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 faculty-education">

                <h2>Education</h2>

                <h4>Phd: <a href="https://iitr.ac.in">IIT Roorkee</a></h4>
                <p>
                    Research Area: Functional differential equation of fractional order<br>
                    Thesis Supervisor: Dr. D.N. Pandey
                </p>

                <h4>M.Sc: Chaudhary Charan Singh University, UP</h4>
                <p>
                    Branch: Mathematics
                    <br>Batch: 2007-2009
                </p>

                <h4>B.Sc: Chaudhary Charan Singh University, UP</h4>
                <p>
                    Branch: Physics Chemistry & Mathematics
                    <br>Batch : 2004-2007
                </p>

            </div>

            <div class="col-lg-6 faculty-experience">
                <h2>Experience</h2>

                <h4>Assistant Professor</h4>
                <p>
                    The NorthCap University (formerly ITM University), Gurugram, Harayana.<br>
                    July, 2019 - Jan, 2021.
                </p>

                <h4><b>Research Experience</b></h4>
                <h4>Postdoctoral Fellow (October 2017 - August 2018)</h4>
                <p>
                    University of São Paulo, Brazil
                </p>
                <h4>Postdoctoral Fellow (May 2016 - September 2017)</h4>
                <p>
                    Indian Institute of Technology Guwahati
                </p>

            </div>
        </div>
    </div>
</section>

<div style="padding-bottom: 40px;"></div>