<!-- footer part start-->
<footer class="footer-area">
	<div class="container-fluid">
		<div class="row justify-content-center text-center">

			<!-- style for footer -->
			<style>

			</style>

			<div class="col-lg-3" style="padding-bottom: 20px;">
				<img alt="Logo | Indian Institute of Information Technolnogy Raichur | IIITR"
					src="{{ site.baseurl }}/assets/images/logo/logo_white.png" width="20%"><br>
				<h5 style="color:white;  font-family: 'Anton', sans-serif;">Indian Institute of Information Technology
					Raichur</h5>
				<h3>
					<p>
						<a href="mailto:info@iiitr.ac.in" class="fa fa-envelope footer-icon" class="text-info"
							style="color:white">&nbsp;</a> info@iiitr.ac.in
						<!--</p>Office of Academic Affairs
						<p>-->&nbsp;&nbsp;
						<a href="tel://04023016002" class="fa fa-phone footer-icon" class="text-info"
							style="color:white">&nbsp;</a> 040-2301&nbsp;6002
					</p>

					<h3 style="text-align:center ; ">
						<a href="https://www.youtube.com/channel/UC6aCBD8hLAJzg7V50CEcX3g" target="_blank"
							class="fa fa-youtube footer-icon" style="color:white">&nbsp;</a>
						<a href="https://www.facebook.com/iiitraichur" class="fa fa-facebook footer-icon"
							target="_blank" style="color:white">&nbsp;</a>
						<a href="https://twitter.com/IIITRaichur" class="fa fa-twitter footer-icon" target="_blank"
							style="color:white">&nbsp;</a>
						<a href="https://www.linkedin.com/showcase/indian-institute-of-information-technology-raichur/"
							target="_blank" class="fa fa-linkedin footer-icon" style="color:white">&nbsp;</a>
						<a href="https://www.instagram.com/iiit_raichur/" class="fa fa-instagram footer-icon"
							target="_blank" style="color:white">&nbsp;</a>
					</h3>
				</h3>
			</div>

			<!-- footer menu starts -->

			<div class="col-lg-3 d-none d-md-block" style="padding-bottom: 20px;">
				<h3 style="color:white; font-family: 'Anton', sans-serif;" class="footer-heading">Academics</h3>
				<hr
					style="display:block; border-width:2px; border-color:white; width:50px; align-center; margin-top:0px; margin-bottom:10px; padding-top:0px;">
				<h4>
					<a href="https://aims.iiitr.ac.in/iiitraichur/" style="color:white" target="_blank"
						class="footer-item">AIMS</a><br>
					<a href="{{ site.baseurl }}/calendars" style="color:white" class="footer-item">Academic
						Calendar</a><br>
					<a href="{{ site.baseurl }}/admission/" style="color:white" class="footer-item">Admission<br></a>
					<a href="{{ site.baseurl }}/curriculum" style="color:white" class="footer-item">Curriculum</a><br>
				</h4>
			</div>

			<div class="col-lg-3 d-none d-md-block" style="padding-bottom: 20px;">
				<h3 style="color:white;  font-family: 'Anton', sans-serif;" class="footer-heading">Campus</h3>
				<hr
					style="display:block; border-width:2px; border-color:white; width:50px; align-center; margin-top:0px; margin-bottom:10px; padding-top:0px;">
				<h4>
					<a href="{{ site.baseurl }}/campus/hostel/" style="color:white"
						class="footer-item">Accommodation<br></a>
					<a href="{{ site.baseurl }}/reach_us" style="color:white" class="footer-item">Getting
						Here</a><br>
					<a href="{{ site.baseurl }}/students" style="color:white" class="footer-item">Students<br></a>
				</h4>
			</div>

			<div class="col-lg-3 d-none d-md-block" style="padding-bottom: 20px;">
				<h3 style="color:white;  font-family: 'Anton', sans-serif;">Quick Links</h3>
				<hr
					style="display:block; border-width:2px; border-color:white; width:50px; align-center; margin-top:0px; margin-bottom:10px; padding-top:0px;">
				<h4 style="text-align:center ; ">
					<a href="{{ site.baseurl }}/rti" style="color:white" class="footer-item">RTI</a><br>
					<a href="{{ site.baseurl }}/tenders" style="color:white" class="footer-item">Tender
						Invitation</a><br>
					<a href="{{ site.baseurl }}/admission/fee-structure" style="color:white" class="footer-item">Fee
						Structure</a><br>
					<a href="{{ site.baseurl }}/careers" style="color:white" class="footer-item">Faculty
						Recruitment</a><br>
					<a href="{{ site.baseurl }}/sitemap.xml" style="color:white" class="footer-item">Sitemap</a><br>
				</h4>
			</div>

			<!-- footer menu ends  -->

			<!-- collapse starts  -->

			<div id="accordion" class="d-md-none" style="width:100%">
				<div class="card"
					style="background-color:#071A27; background-image: url(../assets/images/footer_overlay.png);">
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="btn btn-dark" data-toggle="collapse" data-target="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne"
								style="width: 85%; padding: 1rem 1rem 0.7rem; background-color:rgba(0, 0, 0, 0); border:unset; height:unset;">
								<h4 class="title" style="color: white;">Academics</h4>
							</button>
							<a class="expand-icon" data-toggle="collapse" data-target="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne"><i class="fa fa-plus"
									aria-hidden="true"></i></a>
						</h5>
					</div>
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<h4>
								<a href="http://192.168.3.160:8181/iiitraichur/" style="color:white" target="_blank"
									class="footer-item">AIMS ( Intranet )</a><br>
								<a href="{{ site.baseurl }}/calendars" style="color:white" class="footer-item">Academic
									Calendar</a><br>
								<a href="{{ site.baseurl }}/admission/" style="color:white"
									class="footer-item">Admission<br></a>
								<a href="{{ site.baseurl }}/curriculum" style="color:white"
									class="footer-item">Curriculum</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="card"
					style="background-color:#071A27; background-image: url(../assets/images/footer_overlay.png);">
					<div class="card-header" id="headingTwo">
						<h5 class="mb-0">
							<button class="btn btn-dark collapsed" data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo"
								style="width: 85%; padding: 1rem 1rem 0.7rem; background-color:rgba(0, 0, 0, 0); border:unset; height:unset;">
								<h5 class="title" style="color: white;">Campus</h5>
							</button>
							<a class="expand-icon" data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-plus"
									aria-hidden="true"></i></a>
						</h5>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div class="card-body">
							<h4>
								<a href="{{ site.baseurl }}/campus/hostel/" style="color:white"
									class="footer-item">Accommodation<br></a>
								<a href="{{ site.baseurl }}/reach_us" target="_blank" style="color:white"
									class="footer-item">Getting Here<br></a>
								<a href="{{ site.baseurl }}/students" style="color:white"
									class="footer-item">Students</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="card"
					style="background-color:#071A27; background-image: url(../assets/images/footer_overlay.png);">
					<div class="card-header" id="headingFour">
						<h5 class="mb-0">
							<button class="btn btn-dark collapsed" data-toggle="collapse" data-target="#collapseFour"
								aria-expanded="false" aria-controls="collapseFour"
								style="width: 85%; padding: 1rem 1rem 0.7rem; background-color:rgba(0, 0, 0, 0); border:unset; height:unset;">
								<h5 class="title" style="color: white;">Quick Links</h5>
							</button>
							<a class="expand-icon" data-toggle="collapse" data-target="#collapseFour"
								aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-plus"
									aria-hidden="true"></i></a>
						</h5>
					</div>
					<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
						<div class="card-body">
							<h4>
								<a href="{{ site.baseurl }}/rti" style="color:white" class="footer-item">RTI</a><br>
								<a href="{{ site.baseurl }}/tenders" style="color:white" class="footer-item">Tender
									Invitation</a><br>
								<a href="{{ site.baseurl }}/admission/fee-structure" style="color:white"
									class="footer-item">Fee
									Structure</a><br>
								<a href="{{ site.baseurl }}/careers" style="color:white" class="footer-item">Faculty
									Recruitment</a><br>
								<a href="{{ site.baseurl }}/sitemap.xml" style="color:white"
									class="footer-item">Sitemap</a><br>
							</h4>
						</div>
					</div>
				</div>
			</div>

			<!-- collapse ends  -->

			<div class="col-lg-12 footer-links">
				<h3>
					<a href="{{ site.baseurl }}/contact" style="color:white" class="footer-bottom">Contact
						Us &nbsp;</a>|
					<a href="{{ site.baseurl }}/websiteteam" style="color:white" class="footer-bottom">&nbsp;
						Website Team &nbsp;</a>|
					<a href="{{ site.baseurl }}/prcouncil" style="color:white" class="footer-bottom">&nbsp; PR Team</a>
				</h3>
			</div>
			<div class="col-lg-12">
				<p class="text-muted">© 2022 Indian Institute of Information Technology Raichur, Karnataka, India. All
					rights reserved.</p>
			</div>

		</div>
	</div>
</footer>
<!-- footer part end-->
<!-- jquery plugins here-->
<!-- jquery -->
<script src="{{ site.baseurl }}/assets/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<!-- magnific js -->
<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="{{ site.baseurl }}/assets/js/swiper.min.js"></script>
<!-- masonry js -->
<script src="{{ site.baseurl }}/assets/js/masonry.pkgd.js"></script>
<!-- contact js -->
<script src="{{ site.baseurl }}/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.form.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.validate.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/mail-script.js"></script>
<script src="{{ site.baseurl }}/assets/js/contact.js"></script>
<script src="{{ site.baseurl }}/assets/js/slick.min.js"></script>
<!-- custom js -->
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<script>
	var width = $(window).width();
	if (width < 991) {
		$("#logo").attr("src", "{{ site.baseurl }}/assets/images/logo/logo-blue-desktop.png");
	}
	else {
		$("#logo").attr("src", "{{ site.baseurl }}/assets/images/logo/logo-blue-desktop.png");
	}

</script>