<!--::header part start::-->
<header class="main_menu">
    <div class="main_menu_iner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a href="{{ site.baseurl }}/"><img
                                src="{{ site.baseurl }}/assets/images/logo_desktop.png" class="navbar-brand" id="logo"
                                alt="Logo | Indian Institute of Information Technolnogy Raichur | IIITR"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent" style="margin: 10px 0px;">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.baseurl }}/" {% if page.url=="/" %}
                                        style="color:#fe5c24;font-weight:500;" {% endif %}>Home</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" {% if page.url=="/about" or
                                        page.url=="/administration" or page.url=="/reach_us" or
                                        page.url=="/documents" or page.url=="/reports" %}
                                        style="color:#fe5c24;font-weight:500;" {% endif %} id="navbarDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        {% if page.url=="/about" %} style="color:#fe5c24;font-weight:500;" {% endif
                                        %}>About</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ site.baseurl }}/about" {% if
                                            page.url=="/about" %} style="color:#fe5c24;font-weight:500;" {% endif
                                            %}>About IIIT Raichur</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/administration" {% if
                                            page.url=="/administration" %} style="color:#fe5c24;font-weight:500;"
                                            {% endif %}>Administration</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/reports" {% if
                                            page.url=="/reports" %} style="color:#fe5c24;font-weight:500;" {% endif
                                            %}>Reports</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/campus/" {% if
                                            page.url=="{{ site.baseurl }}/campus/" %}
                                            style="color:#fe5c24;font-weight:500;" {% endif %}>Campus Services</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/reach_us" {% if
                                            page.url=="/reach_us" %} style="color:#fe5c24;font-weight:500;" {%
                                            endif %}>How to Reach</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/pr/pressrelease" {% if
                                            page.url=="/pr" %} style="color:#fe5c24;font-weight:500;" {% endif %}>Press
                                            Release</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/resources" {% if
                                            page.url=="/resources" %} style="color:#fe5c24;font-weight:500;" {%
                                            endif %}>Other Resources</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" {% if page.url=="/admission/" or
                                        page.url=="/program" or page.url=="/curriculum" or
                                        page.url=="/calendars" %} style="color:#fe5c24;font-weight:500;" {% endif
                                        %} id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Academics</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ site.baseurl }}/admission/" {% if
                                            page.url=="/admission/" %} style="color:#fe5c24;font-weight:500;" {%
                                            endif %}>Admission</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/program" {% if
                                            page.url=="/program" %} style="color:#fe5c24;font-weight:500;" {% endif
                                            %}>Program</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/curriculum" {% if
                                            page.url=="/curriculum" %} style="color:#fe5c24;font-weight:500;" {%
                                            endif %}>Curriculum</a>
                                        <a class="dropdown-item" href="{{ site.baseurl }}/calendars" {% if
                                            page.url=="/calendars" %} style="color:#fe5c24;font-weight:500;" {%
                                            endif %}>Calendars & Timetables</a>
                                        <a class="dropdown-item" href="https://aims.iiitr.ac.in/iiitraichur/">AIMS</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" {% if page.url=="/faculty" or
                                        page.url=="/students" %} style="color:#fe5c24;font-weight:500;" {% endif %}
                                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">People</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ site.baseurl }}/faculty" {% if
                                            page.url=="/faculty" %} style="color:#fe5c24;font-weight:500;" {% endif
                                            %}>Faculty</a>
                                        <a class="dropdown-item" href="https://students.iiitr.ac.in/" {% if
                                            page.url=="students/" %} style="color:#fe5c24;font-weight:500;" {%
                                            endif %}>Students</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://tnp.iiitr.ac.in" target="_blank" }>Placements</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.baseurl }}/careers" {% if
                                        page.url=="/careers" %} style="color:#fe5c24;font-weight:500;" {% endif
                                        %}>Careers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.baseurl }}/news" {% if page.url=="/news"
                                        %} style="color:#fe5c24;font-weight:500;" {% endif %}>News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.baseurl }}/search">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>