---
layout: default
title: Debasish Mukherjee
---

<section class="section_padding">
 <div class="container faculty">
  <div class="row">
   <div class="col-lg-12 name-heading text-center">
    <h1>Debasish Mukherjee</h1>
    <h3>
     <b>Assistant Professor</b><br />
     <br />Computer Science & Engineering Department
    </h3>
    <hr style="margin-left: auto; border: 2px solid blue; width: 50px" />
   </div>

   <div class="col-lg-3 image">
    <img src="{{ site.baseurl }}/assets/images/faculty/cse/debasish.webp" />
   </div>

   <div class="col-lg-9 content introduction">
    <h3>Introduction</h3>
    <p>
     Currently, I am working as an Assistant Professor in the Department of CSE,
     IIIT Raichur. I joined IIIT Raichur on 1 st June 2022. Prior to this, I was
     working as an Assistant Professor in Christ (Deemed to be University),
     Bangalore for the past 2 years and 10 months. I have completed PhD from
     IIT(ISM) Dhanbad under the supervision of Prof. Susanta Mukhopadhyay. I
     have also served as a reviewer of reputed journals like IEEE Transactions
     on Circuits and Systems – I: Regular Papers, ETRI Journal – Wiley.
    </p>

    <div class="row">
     <div class="col-lg-4">
      <h3>Research Interests</h3>
      <ul>
       <li>Field Programmable Gate Array (FPGA) Based System Design</li>
       <li>Image Processing</li>
       <li>Parallel Processing</li>
       <li>Digital Hardware Design</li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="container">
  <div class="row text-center">
   <div class="col-lg-12">
    <h2><br />Contact</h2>
    <hr style="margin-left: auto; border: 2px solid blue; width: 50px" />
   </div>

   <div class="col-lg-3">
    <h4>
     Mail<br />
     <a href="mailto:debasish.cse@iiitr.ac.in">debasish.cse[at]iiitr.ac.in</a>
    </h4>
   </div>
   <div class="col-lg-3">
    <h4>
     Telephone Number<br />
     <a href="">-</a>
    </h4>
   </div>

   <div class="col-lg-3">
    <h4>
     Room No.<br />
     Acad Block - 204
    </h4>
   </div>

   <div class="col-lg-3">
    <h4>
     Website<br />
     <a
     target="_blank"
      href="https://scholar.google.com/citations?user=9WrkVbQAAAAJ&hl=en&oi=ao"
      >Google Scholar</a
     >
    </h4>
   </div>
  </div>
 </div>

 <div class="container">
  <div class="row">
   <div class="col-lg-6 faculty-education">
    <h2>Education</h2>

    <h4>
     Phd: <a href="https://www.iitism.ac.in/iitismnew/">IIT(ISM) Dhanbad</a>
    </h4>
    <p>
     Research Area: FPGA based hardware implementation for image processing
     algorithms<br />
     Thesis Supervisor: Dr. Susanta Mukhopadhyay Batch: 2014-2020
    </p>

    <h4>
     MTech: Maulana Abul Kalam Azad University of Technology, Formerly West
     Bengal University of Technology
    </h4>
    <p>
     Branch : Computer Science and Engineering<br />
     Batch: 2011-13
    </p>

    <h4>
     M.Sc: Barrackpore Rashtraguru Surendranath College, West Bengal State
     University
    </h4>

    <p>
     Discipline: Computer Science<br />
     Batch: 2008-2010
    </p>
   </div>

   <div class="col-lg-6 faculty-experience">
    <h2>Experience</h2>

    <h4><b>Teaching Experience</b></h4>

    <h4>Assistant Professor in the Department of CSE</h4>
    <p>Christ (Deemed to University), Bangalore (July 2019 – May 2022)</p>
   </div>
  </div>
 </div>
</section>

<div style="padding-bottom: 40px"></div>
