---
layout: default
title: Jallu
---

<section class="section_padding">
    <div class="container faculty">
        <div class="row">
            <div class="col-lg-12 name-heading text-center">
                <h1>Ramesh Kumar Jallu</h1>
                <h3><b>Assistant Professor</b><br>
                    <br>Computer Science & Engineering Department
                </h3>
                <hr style="margin-left:auto; border: 2px solid blue; width:50px;">
            </div>

            <div class="col-lg-3 image">
                <img src="{{ site.baseurl }}/assets/images/faculty/cse/jallu.jpeg">
            </div>

            <div class="col-lg-9 content introduction">
                <h3>Introduction</h3>
                <p>
                    Currently, I am working as an Assistant Professor at IIIT Raichur. I joined the institute on 8th
                    January, 2021. I am happy to be the first faculty of IIIT Raichur. Prior to this, I was a
                    postdoctoral fellow at the Institute of Computer Science of The
                    Czech Academy of Sciences, Czech Republic. I was a team member of the project "Structural properties
                    of visibility in terrains and farthest color Voronoi diagrams", funded by the Czech Science
                    Foundation. The PI of the project is Dr.
                    Maria Saumell. I love to work and design (approximation) algorithms for the problems that have
                    inherent geometry.
                </p>

                <div class="row">
                    <div class="col-lg-4">
                        <h3>Research Interests</h3>
                        <ul>
                            <li>Computational Geometry</li>
                            <li>Geometric Approximation Algorithms</li>
                            <li>Graph Theory</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><br>Contact</h2>
                <hr style="margin-left:auto; border: 2px solid blue; width:50px;">
            </div>

            <div class="col-lg-3">
                <h4> Mail<br>
                    <a href="mailto:jallu@iiitr.ac.in">jallu[at]iiitr.ac.in</a>
                </h4>
            </div>
            <div class="col-lg-3">
                <h4>
                    Telephone Number<br>
                    <a href="tel:8532251010">+91 85322 51010</a>
                </h4>
            </div>

            <div class="col-lg-3">
                <h4>
                    Room No.
                </h4>
            </div>

            <div class="col-lg-3">
                <h4>
                    Website<br>
                    <a href="https://sites.google.com/view/rameshjallu/">Google Site</a>
                </h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 faculty-education">

                <h2>Education</h2>

                <h4>Phd: <a href="https://iitg.ac.in">IIT Guwahati</a></h4>
                <p>
                    Research Area: Geometric Approximation Algorithms<br> Thesis Supervisor: Dr. Gautam K. Das
                </p>

                <h4>MTech: NITK Surathkal</h4>
                <p>
                    Branch : Systems Analysis and Computer Applications<br> Batch: 2009-2011
                </p>

                <h4>M.Sc: Andhra University</h4>

                <p>
                    Discipline: Mathematics<br> Batch: 2006-2008
                </p>
            </div>

            <div class="col-lg-6 faculty-experience">
                <h2>Experience</h2>

                <h4><b>Research Experience</b></h4>

                <h4>Postdoctoral Fellow (July 2019 to December 2020)</h4>
                <p>
                    Institute of Computer Science, The Czech Academy of Sciences, Czech Republic
                </p>

                <h4>Visiting Scientist & Research Associate (August 2017 to
                    April 2019)</h4>
                <p>
                    ACMU, ISI Kolkata
                </p>

            </div>
        </div>
    </div>
</section>

<div style="padding-bottom: 40px;"></div>