---
layout: default
title: Sadhana
---

<section class="section_padding">
    <div class="container faculty">
        <div class="row">
            <div class="col-lg-12 name-heading text-center">
                <h1>Sadhana Jha</h1>
                <h3><b>Assistant Professor</b><br>
                    <br>Computer Science & Engineering Department
                </h3>
                <hr style="margin-left:auto; border: 2px solid blue; width:50px;">
            </div>

            <div class="col-lg-3 image">
                <img src="{{ site.baseurl }}/assets/images/faculty/cse/sadhana.webp">
            </div>

            <div class="col-lg-9 content introduction">
                <h3>Introduction</h3>
                <p>
                    Joined as Assistant Professor in the Department of Computer Science and Engineering, IIIT Raichur on
                    1st February 2021. Prior to joining IIITR, she was working as an Assistant Professor at Birla
                    Institute of Technology and Sciences Pilani, Rajasthan.
                </p>

                <div class="row">
                    <div class="col-lg-4">
                        <h3>Research Interests</h3>
                        <ul>
                            <li>Computer Security</li>
                            <li>Database</li>
                            <li>Formal Verification</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><br>Contact</h2>
                <hr style="margin-left:auto; border: 2px solid blue; width:50px;">
            </div>

            <div class="col-lg-3">
                <h4> Mail<br>
                    <a href="mailto:sadhana@iiitr.ac.in">sadhana[at]iiitr.ac.in</a>
                </h4>
            </div>
            <div class="col-lg-3">
                <h4>
                    Telephone Number
                </h4>
            </div>

            <div class="col-lg-3">
                <h4>
                    Room No.
                </h4>
            </div>

            <div class="col-lg-3">
                <h4>
                    Website<br>
                </h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 faculty-education">

                <h2>Education</h2>

                <h4>Phd: <a href="https://iitkgp.ac.in">IIT Kharagpur</a></h4>
                <p>
                    Research Area: Security Analysis of Attribute Based Access Control Systems<br> Thesis Supervisor:
                    Dr. Shamik Sural and Dr. Vijayalakshmi Atluri
                </p>

                <h4>MTech: IIT Kharagpur</h4>
                <p>
                    Branch: School of Information Technology<br>Batch: 2012-2014
                </p>

                <h4>B.tech: BPUT, Odisha</h4>
                <p>
                    Branch: Computer Science and Engineering <br>Batch : 2005-2009
                </p>

            </div>

            <div class="col-lg-6 faculty-experience">
                <h2>Experience</h2>

                <h4>Assistant Professor</h4>
                <p>
                    Birla Institute of Technology and Sciences Pilani, Rajasthan<br>
                    Oct, 2018 - Jan, 2021.
                </p>
                <h4>Lecturer </h4>
                <p>
                    PIET Rourkela, Odisha<br>
                    Sept, 2009 - June, 2012
                </p>


            </div>
        </div>
    </div>
</section>

<div style="padding-bottom: 40px;"></div>