---
layout: section
title: "Services"
main_title: "Campus"
---

<style>
	/* Ripple effect */
	.ripple {
		background-position: center;
		transition: 0.8s;
		border-width: 2px !important;
		margin: 2%;
	}

	.ripple:hover {
		/* background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%; */
		background-color: #1D1D27;
		color: white;
	}

	.ripple>div {
		padding: 20px;
	}

	.ripple h2 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.ripple:hover h2 {
		color: white;
	}

	.ripple img {
		display: block;
		border: 0;
		width: 100%;
		height: 200px;
		padding: 5px;
	}

	.service-button {
		background-color: hsl(0, 6%, 72%);
		color: black;
		position: absolute;
	}

	.service-button:hover {
		background-color: #2c2f7f;
		color: white;
	}

	@media only screen and (min-width: 600px) {
		.ripple {
			height: 550px;
		}

		.ripple p {
			height: 200px;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.ripple h2 {
		padding-top: 10px;
		padding-bottom: 10px;
		}

		.service-button {
			background-color: hsl(0, 6%, 72%);
			color: black;
			position: center;
			bottom: 15px;
			left: 35%;
			right: 35%;
		}
	}

	@media only screen and (max-width: 600px) {
		.ripple {
			height: 100%;
		}

		.ripple p {
			height: 200px;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.service-button {
			background-color: hsl(0, 6%, 72%);
			color: black;
			position: center;
			bottom: 15px;
			left: 35%;
			right: 35%;
		}
	}
</style>

<section class="section section_padding">
	<div class="container text-center">

		<div>
			<h1>Campus Services</h1>
			<hr style="border: 2px solid blue; width:50px;">
		</div>

		<div class="row justify-content-center">

			<div class="col-lg-4">
				<div class="card ripple border border-primary">
					<a href="library.html">
						<img src="/assets/images/campus/9.jpeg" alt="">
						<div>
							<h2>Library</h2>
							<p>IIITR started the functioning of its library with all the necessary commodities. The
								process of stacking up the books was commenced and is pacing towards stuffing for the
								fullest potential.
							</p>
							<a href="hostel/index.html" class="btn service-button">Explore</a>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card ripple border border-primary">
					<a href="hostel/index.html">
						<img src="/assets/images/campus/2.jpeg" alt="">
						<div>
							<h2>Hostel and Accommodation</h2>
							<p>IIITR furnishes essential components for the students for their accommodation. The
								students rooms comprise basic infrastructure such as beds, cupboard and study tables to
								meet the student’s needs.
							</p>
							<a href="hostel/index.html" class="btn service-button">Explore</a>
						</div><!-- .card-content -->
					</a>
				</div><!-- .card -->
			</div>

			<!-- <div class="col-lg-4">
				<div class="card ripple border border-primary">
					<a href="medication.html">
						<img src="/assets/images/campus/11.jpg" alt="">
						<div>
							<h2>Medical Facilities</h2>
							<p>On insisting by IITH director B.S.Murthy to tie up with a hospital which gives the
								institute utmost
								priority, so the institute is planning to tie up with RIMS.</p>
							<a href="medication.html" class="btn service-button">Explore</a>
						</div>
					</a>
				</div>
			</div> -->

			<div class="col-lg-4">
				<div class="card ripple border border-primary">
					<a href="internet_service.html">
						<img src="/assets/images/services/internet.jpeg" alt="">
						<div>
							<h2>Internet Sevice</h2>
							<p>By July, the institute will settle down the complete internet services at campus. Already
								the network
								designs have been provided by the IITH technician, the institute soon appoints a bidder
								to implement
								these
								designs.</p>
							<a href="internet_service.html" class="btn service-button">Explore</a>

						</div><!-- .card-content -->
					</a>
				</div><!-- .card -->
			</div>

			<div class="col-lg-4">
				<div class="card ripple border border-primary">
					<a href="sports.html">
						<img src="/assets/images/services/sports/1.png" alt="">
						<div>
							<h2>Sports</h2>
							<p>Already the TT work in hostels have been completed and the works in the basketball ground
								are going on, targeted to finish the basketball court soon.
							</p>
							<a href="sports.html" class="btn service-button">Explore</a>
						</div><!-- .card-content -->
					</a>
				</div><!-- .card -->
			</div>

			<div class="col-lg-4">
				<div class="card ripple border border-primary">
					<a href="recreational.html">
						<img src="/assets/images/services/recreational/7.jpg" alt="">
						<div>
							<h2>Recreational Activities</h2>
							<p>Once the students get back to the campus, based on the student needs and requirements the
								facilities will be provided and modified later.
							</p>
							<a href="recreational.html" class="btn service-button">Explore</a>
						</div><!-- .card-content -->
					</a>
				</div><!-- .card -->
			</div>

			<div class="col-lg-4">
				<div class="card ripple border border-primary">
					<a href="mess.html">
						<img src="/assets/images/campus/5.jpeg" alt="">
						<div>
							<h2>Mess Service</h2>
							<p>IIITR has common Dining facility for all its students,staff and faculty. Both north
								Indian and south Indian varieties are served in the dining hall. The quality of food is
								regularly inspected by student representatives and wardens
							</p>
							<a href="mess.html" class="btn service-button">Explore</a>
						</div><!-- .card-content -->
					</a>
				</div><!-- .card -->
			</div><!-- .cards -->

		</div>

	</div>

</section>