---
layout: section
title: "About"
main_title: "Home"
---

<!-- about part start-->
<section class="about_part section_padding">
    <div class="container">

        <h2><br>About IIIT Raichur</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <h4>
                        IIIT Raichur, located in the city of Raichur in Karnataka, is one of the youngest and budding
                        IIITs proposed by the Ministry of Education, Government of India. The academic activity of the
                        institute commenced in the year 2019 in August, with its first batch being admitted in Bachelor
                        of Technology, Computer Science and Engineering.
                        <br><br>
                        IIT Hyderabad, the mentor institute of IIIT Raichur oversees the functioning of the newly
                        established institute. The institute started functioning from its temporary campus in Government
                        Engineering College (GEC), Raichur from the academic year 2020-21. GEC, Raichur has been
                        equipped with all the necessary arrangements to accommodate IIITR. Furthermore, the facilities
                        at GEC, Raichur will be extended to IIIT Raichur as well.
                        <br><br>
                        The permanent campus of IIIT Raichur is currently under construction and is soon to become
                        operational in a few years.
                    </h4>

                </div>
            </div>
        </div>
    </div>

    <!-- Logo section-->
    <div class="container">

        <h2><br>Logo</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        <h4>
            <a href="./logo">Design Motivation & Credit</a><br>
            <a href="/assets/files/logo/IIIT Raichur Specification Manual.pdf">Specification Manual</a><br>
            <a href="/assets/files/logo/IIIT Raichur_Logo.zip">Download</a>
        </h4>
    </div>

    <!-- AISHE Section -->
    <div class="container">

        <h2><br>All India Survey on Higher Education (AISHE) Code</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <h4>Indian Institute of Information Technology, Raichur has been added in the AISHE
                        Portal with AISHE Code U-1089.
                        AISHE code is an identifier for a college, university, or stand-alone institution in
                        India issued by the All India Survey on Higher Education and it is a prerequisite for
                        availing National scholarship by students.</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <h2><br>Gazette Notification</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">

        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <h4>The Indian Institute of Information Technology, Raichur has been brought into
                        existence as a registered society, through the IIIT Laws (Amendment) Act 2020
                        which in turn has amended the IIIT (PPP) Act 2017 by inserting the name of this
                        Institute in the schedule thereof. The formation of the IIIT, Raichur has been
                        formally notified in the Gazette of India dated 28th September 2020.
                    </h4>
                </div>
            </div>
        </div>

    </div>

</section>