---
layout: section
title: "IIITR Logo"
main_title: "About"
---

<!-- about part start-->
<section class="about_part section_padding">
    <!-- Logo section-->
    <div class="container">

        <h2><br>Logo</h2>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 col-lg-10">
                <div class="about_text">
                    <h4>
                        Now days, the most popular and
                        successful organizations continue to say
                        Symbol
                        that "simpler is better". So it has done in a
                        very stylish manner yet remaining
                        conservative so that it`s easier for the eye
                        to catch and the brain to memorize the
                        logo design. The designers have also considered the
                        reproduction cost as the logo will be
                        printed on various materials and surfaces
                        the colours are kept to a minimum in order
                        to keep the printing process simpler and
                        economic. While designing a logo the best
                        shapes to use is symmetrical shapes so
                        that it is balanced and very easy to handle.
                        The concept was evolved from many ideas
                        and some of the key features are
                        generated from the philosophy of IIIT. IIITs
                        are known for it’s excellence in teaching
                        and research and it continues for without
                        stoppage it has no limits.<br><br>

                        The logo is designed by <a target="_blank" href="https://www.iith.ac.in/des/djm/">Prof. Deepak
                            John Mathew</a>,
                        Department of Design, IIT Hyderabad.<br><br>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3><a href="/assets/files/logo/IIIT Raichur Specification Manual.pdf">Identity & Logo Design Specification Manual</a></h3>
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;"><br><br>
    </div>

    <div class="container">
        <h3><a href="/assets/files/logo/IIIT Raichur_Logo.zip">Download</a></h3>
        Download available in .Ai (CC), .pdf, .jpeg, .png
        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
    </div>

</section>