/*============- HOVER CSS Part -=================== */

/* Grow Shadow */

.gallery {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.gallery:hover,
.gallery:focus,
.gallery:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----========== Modal image =============--*/

/* Style the Image Used to Trigger the Modal */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 80%;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ============ FACULTY PAGE =======================*/

.faculty .name-heading {
  text-shadow: 1px 1px 1px blue;
}

.faculty h3 {
  padding-top: 10px;
}

.faculty img {
  margin: 5%;
  border-radius: 10%;
  width: 90%;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.faculty-contact {
  font-size: 20px;
  margin: 5%;
  padding: 10%;
  width: 80%;
}

/* Grow Shadow */

.faculty-contact {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  background-color: rgb(66, 130, 250);
}

.faculty-contact a {
  color: rgb(134, 236, 223);
}

.faculty-contact:hover,
.faculty-contact:focus,
.faculty-contact:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.faculty-experience {
  padding: 5%;
}
.faculty-experience h4 {
  padding-top: 10px;
}
.faculty-education {
  padding: 5%;
}

.faculty-education h4 {
  padding-top: 10px;
}

/* =============== Home Page Faculty =====================*/
/* .home-page-faculty-card{
    padding:1%;
    margin:5%;
    border-radius: 5%;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    background-image: linear-gradient(120deg, #eef5ff 0%, #a1e0ff 100%);
}

.home-page-faculty-card img{
    width:80%;
    margin:10%;
    border-radius: 50%;
}

.home-page-faculty-card:hover,.home-page-faculty-card:focus, .home-page-faculty-card:active{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
} */

/*================= page scrollbar start ================*/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcd4d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2f7f;
}

/*================= footer ================*/

.footer-heading {
  border-bottom: 2px solid white 30%;
}

a.footer-item:hover,
a.footer-item:active {
  font-size: 120%;
}

a.footer-icon:hover,
a.footer-icon:active {
  font-size: 120%;
}

a.footer-bottom:hover,
a.footer-bottom:active {
  font-size: 110%;
}

@media only screen and (max-width: 600px) {
  a.footer-bottom {
    font-size: 16px;
  }

  .title {
    font-size: 25px;
  }

  .footer-links {
    padding-top: 20px;
  }

  a.footer-bottom:hover,
  a.footer-bottom:active {
    font-size: 110%;
  }
}

/* ============ HOVER BUTTON =================== */
.hover-button {
  margin: 0px 0px 25px 0px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(49, 47, 161, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hover-button:hover,
.hover-button:focus,
.hover-button:active {
  box-shadow: inset 0 0 0 4px #2b2d7f, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* ===================== NEWS INDEX CARDS ================ */
.index-news-cards {
  margin: 7%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 8px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 8px 0px;
}

.index-news-cards:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
  box-shadow: rgb(102, 95, 95) 0px 5px 15px 4px;
}
.index-news-cards img {
  width: 100%;
  border-radius: 10px;
}
/* @media only screen and (min-width: 600px) {
  .index-news-cards img {
    height: 350px;
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
.index-news-cards-content {
  padding: 10% 5% 5% 5%;
}
.index-news-cards p {
  margin: 5px;
  overflow: hidden;
  height: 140px;
  text-overflow: ellipsis;
}
/* ==================================== */
/* Home Page Landing text */
/* ==================================== */
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.home-landing-text h1 {
  margin-top: -150px;
  color: #2B2D7F;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-decoration: solid;
   
}

@media only screen and (max-width: 600px) {
  .home-landing-text h1 {
    margin-top: -250px;
    font-size: 150%;
    letter-spacing: 00.1em;
    color: white;

  }
}

/* ================== This part will be used in future ======================*/

.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 200px 0px 120px 0px;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
}

.main-banner:after {
  content: "";
  background-image: url(../images/images/baner-dec-left.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0px;
  width: 193px;
  height: 467px;
}

.main-banner:before {
  content: "";
  background-image: url(../images/images/baner-dec-right.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 100px;
  width: 98px;
  height: 290px;
}

.main-banner .left-content {
  margin-right: 45px;
}

.main-banner .left-content h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fe3f40;
  margin-bottom: 15px;
}

.main-banner .left-content h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 72px;
}

.main-banner .left-content h2 em {
  color: #03a4ed;
  font-style: normal;
}

.main-banner .left-content h2 span {
  color: #fe3f40;
}

.main-banner .left-content p {
  margin: 20px 0px;
}

.main-banner .left-content form {
  margin-top: 30px;
  width: 470px;
  height: 66px;
  position: relative;
}

.main-banner .left-content form button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: #fe3f40;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  outline: none;
  border: none;
}

.main-banner .left-content form input {
  width: 470px;
  height: 66px;
  background-color: #03a4ed;
  border-radius: 33px;
  border: none;
  outline: none;
  padding: 0px 25px;
  color: #fff;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: 300;
}

.main-banner .left-content form input::placeholder {
  color: #fff;
}

.main-banner img {
  border-radius: 10px;
}
/*=================================================
  Some more details section
=================================================== */
.home-more-cards {
  margin: 5%;
  padding: 5%;
  text-align: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* Reveal */
.hover-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

.hover-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: rgb(43, 45, 127);
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hover-reveal:hover:before,
.hover-reveal:focus:before,
.hover-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 10px;
}

/* =======================================================
News Page
========================================================= */
.news-page-cards {
  padding: 2%;
  margin: 5%;
  box-shadow: rgb(154, 200, 252) 0px 0px 0px 2px inset, rgba(17, 17, 26, 0.1) 0px 5px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  min-height: 250px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.news-page-cards:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: rgb(154, 200, 252) 0px 0px 0px 4px inset, rgb(255, 255, 255) 6px -6px 0px -1px,
    rgb(31, 193, 27) 10px -10px;
}
.news-page-cards img {
  min-height: 0px;
  height: 250px;
}
.news-page-cards p {
  padding-top: 2%;
  padding-bottom: 2%;
  overflow: hidden;
  max-height: 90px;
  text-overflow: ellipsis;
}

.news-page-cards-button {
  font-weight: 1000;
  font-size: large;
}
.news-page-cards-button:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .news-page-cards-button {
    padding-bottom: 20px;
  }
}

/* ============================================================
Office bearers 
============================================================== */
.office-bearers {
  background-image: url(../images/student/student.webp);
  /* background-image: radial-gradient(
    circle,
    #3a1055,
    #392161,
    #392f6c,
    #393c76,
    #3a497f,
    #364a86,
    #314b8c,
    #2b4c93,
    #204198,
    #1e339b,
    #27229b,
    #350099
  ); */
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 90vh;
  margin-left: 0%;
  margin-right: 0%;
  background-position: center;
  background-size: cover;
}
.office-bearers-heading h1 {
  color: whitesmoke;
  padding: 80px 0px 20px 0px;
  font-weight: 900;
  text-align: center;
}
.office-bearers-heading h2 {
  color: whitesmoke;
  font-weight: 500;
  text-align: center;
}
.office-bearers-cards {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10%;
  padding: 10%;
}
.office-bearers-cards:hover {
  box-shadow: 1px 1px 2px black, 0 0 10px rgb(255, 255, 255),
    0 0 5px rgb(255, 255, 255);
  background-color: #282835;
}
.office-bearers-image img {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  border-radius: 50%;
}

.office-bearers-content h4 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 5%;
}

.office-bearers-icons {
  text-align: center;
  padding: 5px;
}
.office-bearers-icons a {
  padding: 3%;
  font-size: 20px;
  color: white;
  border: 0px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.office-bearers-icons a:hover {
  text-shadow: 1px 1px 2px black, 0 0 35px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ==================================================================
FACULTY PAGE 
=====================================================================*/
.faculty-page {
  margin: 7%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  min-height: 415px;
  text-align: center;
}
.faculty-page:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.faculty-page img {
  width: 100%;
  height: 300px;
}

.faculty-page h5 {
  padding: 20px 10px 10px 5px;
  font-weight: 800;
}
.faculty-page h6 {
  padding: 3px 10px 1px 5px;
}

/* ========================================================
STUDENTS PAGE 
==========================================================*/
/* Flip overlay part of CSS */

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  perspective: 1000px;
  text-align: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: white;
}

.flip-card-back {
  background-color: #ffffff;
  color: white;
  transform: rotateY(180deg);
}

flip .card .face {
  overflow: auto;
}

.flip .card .face table {
  height: 100%;
}

/* Flip overlay part ended */

/* CSS For the top cover from codepen */

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
  background-image: url("../images/student/raichur_2.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
  }
}

/* CSS files for top cover ended */

.overlay {
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: 0.5s ease;
}

.cover_photo {
  height: 90vh;
  min-height: 450px;
  background-image: url("../images/student/student.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

blink {
  animation: blinker 1s linear infinite;
  color: blue;
  font-size: larger;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.pioneer-batch {
  background-image: url(../images/student/blurr_cover.webp);
  padding-top: 50px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pioneer-batch h1 {
  color: white;
  font-weight: 600;
}
.pioneer-batch h2 {
  color: white;
  font-weight: 600;
}
.pioneer-batch h4 {
  color: white;
  padding: 2px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.pioneer-batch h4:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: white;
  font-weight: 900;
  text-decoration: underline;
}

.pioneer-batch a{
  color: white;
}
.pioneer-batch a:hover{
  color:#44f83e;
}
.radiant-batch h4 {
  padding: 2px;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.radiant-batch h4:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #228d02;
  font-weight: 900;
}
