---
layout: section
title: "Fee Structure"
main_title: "Academics"
---


<section class="about_part bg_color section_padding">
    <div class="container">
        <h2>
            B.TECH
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h2>
    </div>
</section>
<section class="about_part bg_color section_padding">
    <div class="container">
        <h3>
            Fee Structure 2022-2023<br>
            <h3>
                <a href="./../assets/files/fee_structure/IIITR-Fee-structure-2022-2023.pdf">Click here</a>
            </h3>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h3>
        <br>
        <br>
        <h3>
            Fee Structure 2021-2022<br>
            <h3>
                <a href="./../assets/files/fee_structure/Fee structure-2021-2022.pdf">Click here</a>
            </h3>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h3>
        <br>
        <br>
        <h3>
            Fee Structure 2020-2021<br>
            <h3>
                <a href="./../assets/files/fee_structure/IIIT Raichur Fee Structure 2020-21.pdf">Click here</a><br>
            </h3>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h3>
        <br>
        <h3>
            Fee Structure AUG-DEC 2020 In-view of COVID-19<br>
            <h3>
                <a href="./../assets/files/fee_structure/IIIT Raichur Fee structure Aug-Dec 2020 in view of covid.pdf">Click
                    here</a><br>
            </h3>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h3>
    </div>

    <div class="container">
        <h4>
            <br><br>
            Pay your fee ONLINE through the State Bank Collect Link available at<br> <a
                href="https://www.onlinesbi.com/sbicollect/icollecthome.htm?corpID=957370">https://www.onlinesbi.com/sbicollect/icollecthome.htm?corpID=957370</a>
        </h4>
    </div>
</section>