---
layout: section
title: "Admission"
main_title: "Academics"
---


<style>
    .progress-table .serial1 {
        width: 50%;
        padding-left: 30px;
    }
</style>

<!-- Admission Details 2021-->
<!-- <section class="about_part section_padding">
    <div class="container">
        <h2>
            DETAILS OF ADMISSION PROCESS FOR PhD 2021-22<br>
            <a href="./admission/phd/index.html">Click here</a>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h2>
    </div>
</section> -->

<section class="about_part bg_color section_padding">
    <div class="container">
        <h2>
            DETAILS OF ADMISSION PROCESS FOR B.tech<br>
            <h3>
                <a href="/admission/btech/">Click here</a>
            </h3>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h2>
    </div>
</section>


<section class="about_part bg_color section_padding">
    <div class="container">
        <h2>
            Fee Structure<br>
            <h3>
                <a href="/admission/fee-structure">Click here</a>
            </h3>
            <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
        </h2>
    </div>
</section>