---
layout: section
title: "PhD Admission"
main_title: "Admission"
---

<section class="about_part section_padding">
        <div class="container" style="font-weight: 500;">
                <h4>
                        IIIT Raichur invites applications for admission to the PhD programme [Regular with Institute
                        Fellowship,
                        Individual Fellowship (i.e., CSIR, UGC, DBT, ICMR, INSPIRE, etc), external and working
                        professional] of the
                        institute in the disciplines of Computer Science and only regular PhD for Mathematics.<br><br>
                        <!-- The PhD regulations are
                        available <a href="regulation.html">here.</a> -->
                </h4>
        </div>

        <div class="container" style="font-weight: 500; font-size: 18px;">
                <h4>
                        <h2>
                                <br>
                                Thrust Areas<br>
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>

                        <ol class="c19 lst-kix_hjn98p2runp-0 start" start="1">
                                <li><span class="c34">
                                                <h3> CSE:</h3>
                                        </span><span class="c0">Computer Security,
                                                Embedded systems, Database, and Formal Verification</span>
                                </li>
                        </ol>
                        <p class="c4 c54"><span class="c0"></span></p>
                        <ol class="c19 lst-kix_hjn98p2runp-0" start="2">
                                <li class="c39 c26 li-bullet-0"><span class="c34">
                                                <h3> Mathematics: </h3>
                                        </span><span class="c0">Fractional
                                                Differential
                                                Equations, Controllability, and Stability Theory</span></li>
                        </ol>
                        <p class="c4"><span class="c0"></span></p>
                        <p class="c39"><span class="c0">Note that the research topics are not limited to the above
                                        mentioned thrust
                                        areas
                                        and can be decided based on the mutual interest of the guide and the PhD
                                        scholar.</span></p>
                        <h2>
                                <br>Percentage/CGPA not in the scale of 10 to CGPA Conversion Rule
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <p class="c22"><span class="c10 c25">As for the percentage to CGPA conversion (or) Candidate’s
                                        University grading is not in the scale of 10, the following rule applies.</span>
                        </p>
                        <ol class="c19 lst-kix_l6zlogp0bdku-0 start" start="1">
                                <li class="c22 c26 li-bullet-0"><span class="c0">If a candidate&#39;s university has
                                                provided GPA
                                                corresponding
                                                to the percentage on the transcript, or if his/her university prescribes
                                                some formula for
                                                conversion,
                                                then that will apply. This formula should be mentioned clearly on the
                                                University website
                                                and/or
                                                candidate&rsquo;s transcript. Otherwise the following formula will
                                                apply: CGPA = percentage/10</span></li>
                                <li class="c22 c26 li-bullet-0"><span class="c0">If the CGPA of the candidate is not
                                                in the scale of 10 but in the scale of K (e.g., 4 or 8), then: CGPA =
                                                CGPA on Scale K*10 / (K). Here, CGPA on Scale K is the candidate's CGPA
                                                on the scale of K. For CGPA, rounding-off will not be done. For example,
                                                if a candidate’s CGPA is 7.98 and the eligibility CGPA criterion is
                                                8.00, then, the candidate will not be considered as eligible.</span>
                                </li>
                        </ol>
                        <h2>
                                <br>Financial assistance
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <p class="c22"><span class="c0">Regular PhD students are eligible to receive financial
                                        assistance
                                        through
                                        various
                                        avenues.</span></p>
                        <ol class="c19 lst-kix_nszxx6yoalaq-0 start" start="1">
                                <li class="c48 c26 li-bullet-0"><span class="c0">MoE Fellowships: As per current norms,
                                                MoE
                                                fellowships
                                                provide
                                                monthly stipend of &#8377;31000 for the first two years (at JRF level)
                                                and &#8377;35000 for
                                                the
                                                next
                                                three years (at SRF level). </span></li>
                                <li class="c26 c48 li-bullet-0"><span class="c1">PM Fellowships: PM fellowships are very
                                                prestigious
                                                fellowships
                                                which pays double the amount as compared to MoE fellowship. These
                                                fellowships are quite
                                                competitive
                                                and
                                                require an industry partner, where the student will be working on
                                                research problems that are
                                                of
                                                mutual
                                                interest to a faculty member and the industry partner. Please
                                                see</span><span class="c1"><a class="c13"
                                                        href="https://www.primeministerfellowshipscheme.in/">&nbsp;</a></span><span
                                                class="c1 c51"><a class="c13"
                                                        href="https://www.primeministerfellowshipscheme.in/">https://primeministerfellowshipscheme.in/</a></span><span
                                                class="c0">&nbsp;for more details.</span></li>
                                <li class="c48 c26 li-bullet-0"><span class="c1">Visvesvaraya Fellowships: PhD students
                                                of CSE
                                                department
                                                can
                                                also apply for Visvesvaraya Fellowship which pays &#8377;38750 per month
                                                for the first two
                                                years
                                                of
                                                the
                                                program and &#8377;43750 per month. Additional HRA is provided, if
                                                applicable. It also
                                                has
                                                provision
                                                for some contingency funds. Please see</span><span class="c1"><a
                                                        class="c13"
                                                        href="https://www.meity.gov.in/phd-scheme">&nbsp;</a></span><span
                                                class="c51 c1"><a class="c13"
                                                        href="https://www.meity.gov.in/phd-scheme">https://www.meity.gov.in/phd-scheme</a></span><span
                                                class="c0">&nbsp;for more details about Visvesvaraya Fellowship.</span>
                                </li>
                                <li class="c22 c26 li-bullet-0"><span class="c0">Industry fellowships: Companies such as
                                                Intel,
                                                Infosys,
                                                TCS,
                                                Google often provide fellowships for Regular PhD students. Getting
                                                such fellowships also
                                                adds
                                                a
                                                plus
                                                point in your CV. These fellowship amounts vary but usually provides
                                                similar monthly
                                                stipends as
                                                MoE
                                                fellowships.</span></li>
                        </ol>
                        <p class="c22"><span class="c0">The department invites applications under both regular and
                                        external
                                        categories in
                                        this admission round. To know more
                                        about
                                        the
                                        department and research interests of the faculty, please
                                        visit </span><span class="c1"><a class="c13"
                                                href="{{site.baseurl}}/faculty.html">https://iiitr.ac.in/faculty.html</a></span>
                        </p>
                        <h2>
                                <br>
                                Eligibility Criteria for CSE
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <h3>Regular PhD</h3>
                        <ul class="c19 lst-kix_s1nsod5y5r9-0 start">
                                <li class="c22 c26 li-bullet-0"><span class="c0">Candidates with a
                                                B.Tech/B.E/B.S./M.Sc./MCA
                                                degree
                                                in
                                                any
                                                discipline and having a M.Tech/M.E/M.S. degree in CSE/IT/ECE/EE can
                                                apply if they meet
                                                the
                                                following
                                                eligibility criteria:</span></li>
                        </ul><a id="t.73a52e2d7a8563a49965dd3645adc47339f9b2fe"></a><a id="t.0"></a>
                        <table class="c47">
                                <tbody>
                                        <tr>
                                                <td>
                                                        <br>
                                                </td>
                                        </tr>
                                        <tr class="c3">
                                                <td class="c40" colspan="1" rowspan="1">
                                                        <p class="c22"><span class="c0">General/OBC (Cream Layer)</span>
                                                        </p>
                                                </td>
                                                <td class="c16" colspan="1" rowspan="1">
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        B.Tech/B.E/B.S/M.Sc/MCA: 8.0
                                                                        CGPA or above
                                                                        and</span>
                                                        </p>
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        M.Tech/M.E./M.S. in
                                                                        CSE/IT/ECE/EE: 8.0 CGPA or
                                                                        above</span>
                                                        </p>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <br>
                                                </td>
                                        </tr>
                                        <tr class="c3">
                                                <td class="c40" colspan="1" rowspan="1">
                                                        <p class="c12"><span class="c0">OBC non-creamy
                                                                        layer Category</span>
                                                        </p>
                                                </td>
                                                <td class="c16" colspan="1" rowspan="1">
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        B.Tech/B.E/B.S/M.Sc/MCA: 7.2
                                                                        CGPA or above
                                                                        and</span>
                                                        </p>
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        M.Tech/M.E./M.S. in
                                                                        CSE/IT/ECE/EE: 7.2 CGPA or
                                                                        above</span>
                                                        </p>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <br>
                                                </td>
                                        </tr>
                                        <tr class="c3">
                                                <td class="c40" colspan="1" rowspan="1">
                                                        <p class="c12"><span class="c0">SC, ST
                                                                        Category</span></p>
                                                </td>
                                                <td class="c16" colspan="1" rowspan="1">
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        B.Tech/B.E/B.S/M.Sc/MCA: 6.8
                                                                        CGPA or above
                                                                        and</span>
                                                        </p>
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        M.Tech/M.E./M.S. in
                                                                        CSE/IT/ECE/EE: 6.8 CGPA or
                                                                        above</span>
                                                        </p>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                        <h3><br>External Ph.D</h3>
                        <ul class="c19 lst-kix_euspx4la70cp-0 start">
                                <li class="c22 c26 li-bullet-0"><span class="c0">Candidates with a
                                                B.Tech/B.E/B.S./M.Sc./MCA
                                                degree
                                                in
                                                any
                                                discipline and having a M.Tech/M.E/M.S. degree in in CSE/IT/ECE/EE can
                                                apply if they
                                                meet
                                                the
                                                following
                                                eligibility criteria:</span></li>
                        </ul><a id="t.8e1d768b118c6f0dda312193f73008f2fef9951b"></a><a id="t.2"></a>
                        <table class="c60">
                                <tbody>
                                        <tr>
                                                <td>
                                                        <br>
                                                </td>
                                        </tr>
                                        <tr class="c3">
                                                <td class="c57" colspan="1" rowspan="1">
                                                        <p class="c22"><span class="c0">General/OBC(Creamy Layer)</span>
                                                        </p>
                                                </td>
                                                <td class="c31" colspan="1" rowspan="1">
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        B.Tech/B.E/B.S/M.Sc/MCA: 8.0
                                                                        CGPA or above
                                                                        and</span>
                                                        </p>
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        M.Tech/M.E./M.S. in
                                                                        CSE/IT/ECE/EE: 8.0 CGPA or
                                                                        above</span>
                                                        </p>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <br>
                                                </td>
                                        </tr>
                                        <tr class="c3">
                                                <td class="c57" colspan="1" rowspan="1">
                                                        <p class="c12"><span class="c0">OBC non-creamy
                                                                        layer Category</span>
                                                        </p>
                                                </td>
                                                <td class="c31" colspan="1" rowspan="1">
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        B.Tech/B.E/B.S/M.Sc/MCA: 7.2
                                                                        CGPA or above
                                                                        and</span>
                                                        </p>
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        M.Tech/M.E./M.S. in
                                                                        CSE/IT/ECE/EE: 7.2 CGPA or
                                                                        above</span>
                                                        </p>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <br>
                                                </td>
                                        </tr>
                                        <tr class="c3">
                                                <td class="c57" colspan="1" rowspan="1">
                                                        <p class="c12"><span class="c0">SC, ST
                                                                        Category</span></p>
                                                </td>
                                                <td class="c31" colspan="1" rowspan="1">
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        B.Tech/B.E/B.S/M.Sc/MCA: 6.8
                                                                        CGPA or above
                                                                        and</span>
                                                        </p>
                                                        <p class="c12"><span
                                                                        class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*
                                                                        M.Tech/M.E./M.S. in
                                                                        CSE/IT/ECE/EE: 6.8 CGPA or
                                                                        above</span>
                                                        </p>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>

                        <p class="c22"><span class="c0"><br>AND at least one of the following:
                                        <p style="padding-left: 30px;">
                                                - They must have at least 2
                                                years
                                                of
                                                work
                                                experience in the field of CSE/IT/ECE/EE. Any
                                                experience before the completion of undergraduate degree will not be
                                                considered.
                                                <br>- They have qualified for the GATE exam in
                                                CSE/IT/ECE/EE in
                                                the
                                                past 2
                                                years
                                        </p>
                                </span></p>
                        <br>
                        <h2>
                                <br>
                                Eligibility Criteria for Mathematics
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <p class="c6"><span class="c10 c14"></span></p>
                        <p class="c22"><span class="c0">Candidates applying for the Ph.D. program need to possess the
                                        following
                                        qualifications</span></p>
                        <p class="c18"><span class="c0">1. M.A./M.Sc. in Mathematics with minimum GPA of 6.5 for
                                        general/OBC (Creamy layer) candidates, 5.8 for OBC (Non-creamy layer) candidates and
                                        5.5 for SC/ST/PwD Candidates.
                                </span>
                        </p>
                        <p class="c18"><span class="c0">2. For receiving
                                        assistantship in PhD programmes in Mathematics, a candidate must
                                        have a minimum qualifying Post Graduate Degree in Mathematics, selected through
                                        a process described through any one of the following:</span></p>

                        <p class="c22 c59"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Scholars
                                        who
                                        are
                                        selected
                                        through National Eligibility Tests &ndash; UGC NET including lectureship
                                        (Assistant
                                        Professorship)
                                        and
                                        GATE</span></p>
                        <p class="c22 c30"><span class="c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. The
                                        selection
                                        process
                                        through
                                        National level examinations conducted by MoE and its Agencies and Institutions
                                        such as
                                        UGC/IIT/IISc./IISER/IIIT, etc.</span></p>
                        <p class="c6"><span class="c8 c15"></span></p>

                        <h2>    
                                <br>
                                Notes
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <ul class="c19 lst-kix_w7w3zhrgr6am-0 start">
                                <li class="c22 c26 li-bullet-0">+ <span class="c0">All the
                                                CGPA mentioned above are out of
                                                10.
                                                CGPA
                                                received
                                                on
                                                any other point scale (such as 8) and marks/percentages will accordingly
                                                be converted to
                                                10
                                                CGPA
                                                scale.</span></li>
                                                <br>
                                <li class="c22 c26 li-bullet-0">+ <span
                                                class="c0">Candidates having degrees with
                                                specialization
                                                in
                                                various
                                                sub-disciplines of CSE/EE/IT/ECE such as MTech/ME in Artificial
                                                Intelligence,
                                                Information
                                                Security,
                                                Data
                                                Sciences, Signal Processing &amp; Digital Design, Communication Systems
                                                etc., can also
                                                apply.
                                                They
                                                will
                                                be considered as having MTech/ME in CSE/EE/IT/ECE and the eligibility
                                                criteria will be
                                                applied
                                                accordingly.</span></li>
                                                <br>
                                <li class="c22 c26 li-bullet-0">+ <span class="c1">The
                                                department reserves the right to
                                                set a
                                                suitable
                                                cutoff
                                                criteria for shortlisting the candidates for interview. The department
                                                also reserves the
                                                right
                                                to
                                                NOT
                                                select any candidate.</span></li>
                        </ul>

                        <h2>
                                <br>
                                Application Fee
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <p class="c6"><span class="c0"></span></p><a
                                id="t.e428e0e0d418b51e4a58e76e6fc4e1107795d586"></a><a id="t.4"></a>
                        <table class="c21">
                                <tbody>
                                        <tr class="c45">
                                                <td class="c20" colspan="1" rowspan="1">
                                                        <p class="c27"><span class="c0">General/ OBC</span></p>
                                                </td>
                                                <td class="c20" colspan="1" rowspan="1">
                                                        <p class="c27"><span class="c0">&nbsp; 300/-</span></p>
                                                </td>
                                        </tr>
                                        <tr class="c45">
                                                <td class="c20" colspan="1" rowspan="1">
                                                        <p class="c27"><span class="c0">SC/ ST/ PWD</span></p>
                                                </td>
                                                <td class="c20" colspan="1" rowspan="1">
                                                        <p class="c27"><span class="c0">&nbsp; 150/-</span></p>
                                                </td>
                                        </tr>
                                        <tr class="c45">
                                                <td class="c20" colspan="1" rowspan="1">
                                                        <p class="c27"><span class="c0">All Female candidates</span></p>
                                                </td>
                                                <td class="c20" colspan="1" rowspan="1">
                                                        <p class="c27"><span class="c0">&nbsp; 150/-</span></p>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                        <p class="c6"><span class="c0"><br></span></p>
                        <p class="c7"><span class="c0">Please pay the fee using the SBI Collect link. You need to save
                                        the
                                        proof
                                        of
                                        payment
                                        which you need to upload at the time of application submission.</span></p>
                        <p class="c6"><span class="c0"></span></p>

                        <h3>
                                <br>
                                Pay your fee here<br>
                                <a href="https://www.onlinesbi.com/sbicollect/icollecthome.htm?corpID=957370">
                                        https://www.onlinesbi.com/sbicollect/icollecthome.htm?corpID=957370
                                </a>
                        </h3>
                        <!-- <h2>
                                <br>
                                Fee Structure
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <h3>Click <a href="./fee.html">here</a></h3> -->
                        <h2>
                                <br>
                                Admission Procedure
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <p class="c6"><span class="c8 c15"></span></p>
                        <p class="c7"><span class="c0">The admission process typically consists of one or multiple
                                        rounds of
                                        online
                                        interviews depending on the number of shortlisted candidates. The list of
                                        candidates who are selected after the final interview will
                                        be announced
                                        on
                                        the institute website approximately within two weeks of the interview date.
                                        Selected
                                        candidates will also
                                        be
                                        intimidated
                                        by email.</span></p>
                        <p class="c6"><span class="c10 c35"></span></p>
                        <h2>
                                <br>
                                Submission Procedure
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <p class="c6"><span class="c10 c14"></span></p>
                        <p class="c7"><span class="c1">Please fill the application form in the link given below for both
                                        CSE and
                                        Math
                                        departments.</span></p>
                        <p class="c6"><span class="c0"></span></p>
                        <h4 class="c7"><b><span class="c1">Deadline for your submission is </span><span class="c1 c50">5
                                                PM
                                                on
                                                30
                                                June
                                                2021</span><span class="c1">.</b></span></h4>
                        <p class="c6"><span class="c0"></span></p>
                        <br>
                        <!-- <h4>Documents Checklist</h4>
                        <p>
                                Detailed CV (with publication details if any), Proof of DOB, Category Certificate,
                                Sponsorship Certificate, NOC ( for
                                working professional ), Mark sheets and degree certificates of all degrees in a single
                                PDF file, Valid GATE/UGC/CSIR etc. score card, Fee payment receipt.
                                <br><br>
                                <b><a href="./files/Documents.pdf">Download the empty form</a></b>
                        </p> -->
                        <br>

                        <h3><b><a href="https://docs.google.com/forms/d/e/1FAIpQLSferCGEH8dc4pLwhBOEv1VCA56y4isoYzw_waH-7KKkCwclWA/viewform?usp=sf_link">Click
                                                here to submit an application.</a></b></h3>

                        <h2>
                                <br>
                                Contact Details
                                <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                        </h2>
                        <p class="c6"><span class="c10 c14"></span></p>
                        <p class="c7"><span class="c1">Please send your queries to </span><span class="c51 c1"><a
                                                class="c13"
                                                href="mailto:queries.phd@iiitr.ac.in">queries.phd@iiitr.ac.in</a></span>
                        </p>
                        <p class="c6"><span class="c0"></span></p>
                        <p class="c4"><span class="c11"></span></p>
                </h4>

        </div>
</section>