---
layout: section
title: "Regulations and Procedures for PhD"
main_title: "PhD"
---

<section class="about_part section_padding">
        <div class="container" style="font-weight: 500; font-size: 18px;">

                <h2>
                        <br>
                        REGULATIONS AND PROCEDURES FOR PHD<br>
                        <hr style="margin-left:5px; border: 2px solid blue; width:50px;">
                </h2>
                <br>
                <h3>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">The Status of the students admitted to the Ph.D. Program shall be
                                        classified under
                                        any one of the following categories:</span></p>
                        <p class="c0"><span class="c2">&#9679; Regular Research Scholar</span></p>
                        <p class="c0 c6"><span class="c2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        -Teaching Assistantship (TA)</span></p>
                        <p class="c0 c6"><span class="c2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        -Teaching Assistantship through Project (TAP)</span></p>
                        <p class="c0 c6"><span class="c2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        -Govt./ Semi Govt. Fellowship Award - FA (QIP, CSIR, UGC, DAE,
                                        DST,
                                        DBT, NBHM,
                                        etc.)</span></p>
                        <p class="c0"><span class="c2">&#9679; External Research Scholar</span></p>
                        <p class="c0 c6"><span
                                        class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-External
                                        candidates, sponsored by recognized R &amp; D
                                        organizations</span></p>
                        <p class="c0 c6 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">Students admitted under TA category are eligible for hostel
                                        accommodation; for
                                        students of other categories hostel accommodation is not assured and can be
                                        provided
                                        only if
                                        available.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <!-- <p class="c0"><span class="c2">Admission process for MoE-funded students happens twice a year
                                        for
                                        July
                                        and Jan
                                        semesters. Application process for external funded students is open throughout
                                        the
                                        year.</span>
                        </p> -->
                        <!-- <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">The total number of credits required to be completed for direct
                                        PhD
                                        is
                                        24-27.</span>
                        </p> -->
                        <!-- <p class="c0"><span class="c2">MTech stipend shall be paid till the defence of PhD
                                        proposal.</span>
                        </p>
                        <p class="c0"><span class="c2">PhD stipend should be paid after the PhD proposal defence.</span>
                        </p>
                        <p class="c0 c4"><span class="c2"></span></p> -->
                </h3>
                <h2>
                        General Regulations &amp; Procedures<br>
                </h2>
                <h3>
                        <p class="c0"><span class="c3"><b>Operational Details of Teaching Assistantship</b></span></p>
                        <p class="c0"><span class="c2">The stipend given to Ph.D students is called Teaching
                                        Assistantship.
                                        Students
                                        receiving Teaching Assistantship are called Teaching Assistants (TAs). This
                                        TA&rsquo;ship is
                                        mandatory for
                                        all funded students.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">The typical number is one TA for every 15 students in Theory
                                        courses
                                        and
                                        one
                                        TA for
                                        every 10 students in Lab courses. But a department can allot the work
                                        appropriately
                                        considering
                                        the
                                        unique
                                        features of each course and lab.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">Each TA will be assigned to work with a faculty member by their
                                        respective
                                        department. The concerned faculty member is responsible for monitoring
                                        TA&rsquo;s work.
                                        This
                                        typically
                                        involves the TA maintaining a work schedule signed and approved by the
                                        concerned
                                        faculty
                                        to
                                        ensure this
                                        average is maintained; the respective department and the responsible faculty can
                                        decide
                                        on
                                        the
                                        format. If a
                                        TA feels overworked, she/ he can approach the department regarding this.</span>
                        </p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">The following are some set of duties a TA can be asked to
                                        perform</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Conducting Tutorials</span></p>
                        <p class="c0"><span class="c2">&#9679; Maintaining software and hardware and information related
                                        to
                                        academic
                                        activities in the department.</span></p>
                        <p class="c0"><span class="c2">&#9679; Grading answer sheets, assignments and assisting in
                                        conducting
                                        vivas,
                                        seminars.</span></p>
                        <p class="c0"><span class="c2">&#9679; Help students with difficulties: TA&rsquo;s should be
                                        available
                                        during
                                        regular office hours to clear doubts about the course. Limit should be Two hours
                                        per
                                        week.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Arranging instruments/ softwares/ hardwares related to
                                        course
                                        or
                                        labs.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Attending Classes: If the TA is asked to attend classes
                                        by
                                        the
                                        instructor,
                                        then attending one hour of class accounts for one hour of TA.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">The following are the working hours expected of a TA</span></p>
                        <p class="c0"><span class="c2">&#9679; On an average the TA must work for eight hours per week
                                        (six
                                        days).</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Student&rsquo;s own research work (for thesis) or
                                        research
                                        with a
                                        faculty in
                                        his lab does not count in TAship hours.</span></p>
                        <p class="c0"><span class="c2">&#9679; If a TA works less than average in some month then the
                                        work
                                        has
                                        to be
                                        compensated later. Overall average should be monitored over a semester rather
                                        than over
                                        a
                                        month.</span></p>
                        <p class="c0"><span class="c2">&#9679; The provision to stop scholarship should be taken in case
                                        the
                                        work
                                        done
                                        during the entire semester is below the average. Renewal of assistantship every
                                        semester
                                        is
                                        subject
                                        to a
                                        good performance during the preceding semester.</span></p>
                        <p class="c0"><span class="c2">&#9679; If the TA works in the vacations, then the average should
                                        be
                                        monitored over a
                                        month. TA&rsquo;s work in the vacations can&rsquo;t be counted towards the total
                                        work
                                        done
                                        in
                                        the
                                        next
                                        semester.</span></p>
                        <p class="c0"><span class="c2">&#9679; AIMS can be used for approving/ disapproving the stipend
                                        of
                                        the
                                        TAs</span>
                        </p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c3"><br><b>Rules and Regulations Concerning Scholarship
                                                Students</b></span>
                        </p>
                        <p class="c0"><span class="c2">The following are the rules and regulations guiding the students
                                        receiving
                                        MoE funded
                                        scholarships (rephrasing the relevant parts from the MHRD circular
                                        F.N0.17-2/2014-TS.I,
                                        dated
                                        18th
                                        February,
                                        2015)</span></p>
                        <p class="c0"><span class="c2">&#9679; Eligibility:</span></p>
                        <p class="c0 c6"><span class="c2">-For PhD Programs (Junior Research Fellow (JRF)/Senior
                                        Research
                                        Fellow
                                        (SRF): Post
                                        Graduate Degree in Basic Science OR Graduate / Post Graduate Degree in
                                        Professional
                                        Course
                                        selected
                                        through
                                        a process described through any one of the following: (a) Scholars who are
                                        selected
                                        through
                                        National
                                        Eligibility Tests - UGC NET including lectureship (Assistant Professorship) and
                                        GATE (b)
                                        The
                                        selection
                                        process through National level examination conducted by MHRD and its Agencies
                                        and
                                        Institutions
                                        such
                                        as
                                        UGC/IIT/IISc/IISER/IIIT etc.</span></p>
                        <p class="c0"><span class="c2">&#9679; Sponsored and Self-Financed Category of students
                                        including
                                        those
                                        in
                                        receipt
                                        of any other similar assistantship/scholarship/ fellowship would not be eligible
                                        for
                                        assistantship/
                                        scholarship/ fellowship. Further, the assistantship/ scholarship/ fellowship
                                        would be
                                        provided
                                        to
                                        the
                                        scholars on the basis of GATE scores above the prescribed cut-off level. BTech
                                        Graduates
                                        from
                                        the
                                        CFTIs (Central Funded Technical Institutes)
                                        getting a CGPA score of 8 or above (on a scale of 10) would also be entitled to
                                        the
                                        assistantship
                                        without
                                        having to appear in GATE.</span></p>
                        <p class="c0"><span class="c2">&#9679; The stipend of a research fellow/ associate is exempted
                                        from
                                        the
                                        payment of
                                        income tax under Section 10(16) of the Income Tax Act, 1961.</span></p>
                        <p class="c0"><span class="c2">&#9679; Dearness Allowance (DA) and City Compensatory
                                        Allowance(CCA): JRFs and SRFs will not be entitled to these
                                        allowances.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; House Rent Allowance (HRA): All research scholars will be
                                        provided hostel accommodation and no HRA will be paid even if one opts to stay
                                        outside. </span></p>
                        <p class="c0"><span class="c2">&#9679; Leave and other entitlement benefits: The JRFs and SRFs
                                        are
                                        eligible
                                        only for
                                        casual</span></p>
                        <p class="c0"><span class="c2">leave (for MoE students it is 8 days in an academic year, while
                                        for
                                        other
                                        funding
                                        agencies, it is as per the guidelines of the funding agency). Participation of
                                        any of
                                        these
                                        categories in
                                        any scientific event/ workshop in India or abroad will be treated as 'on duty
                                        leave'. The
                                        travel
                                        entitlement
                                        for JRF /SRF for participation in scientific events/ workshops in India will
                                        continue to
                                        be
                                        the
                                        same
                                        as
                                        earlier, i.e. 2nd AC by rail. Maternity Leave as per Government of India
                                        instructions
                                        issued
                                        from
                                        time to
                                        time would be available to female candidates in all categories.</span></p>
                        <p class="c0"><span class="c2">&#9679; Publication/ Patent: The results of JRF /SRF research
                                        work
                                        may be
                                        published
                                        in standard referred journals at the discretion of the Fellow or his Guide. It
                                        should be
                                        ensured
                                        by
                                        the
                                        Fellow that the assistance provided by the funding agency of Government of India
                                        is
                                        acknowledged
                                        in
                                        all such
                                        publications.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c3"><b><br>Guide Allocation Procedure</b></span></p>
                        <p class="c0"><span class="c2">Each student will have a Project/ Research Supervisor, referred
                                        to as
                                        a
                                        Guide
                                        from
                                        the faculty of the parent Department to which he/she is admitted. In addition, a
                                        co-guide
                                        from
                                        the
                                        same or
                                        other Department may be co-opted by the guide (in some special cases like
                                        external PhD
                                        students,
                                        the
                                        co-guide can also be from outside IIITR). </span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">The procedure for the selection of guides for thesis varies
                                        departmentally.
                                        In
                                        general, guide allocation happens after the student finishes his/her first
                                        semester in
                                        the
                                        institute
                                        engaged
                                        in the coursework. To the extent possible, the preferences of the student in the
                                        area of
                                        research
                                        interest
                                        are taken into account and the student is given a freedom to choose his/her
                                        guide based
                                        on
                                        the
                                        area
                                        of
                                        research interest. Once the student joins, they are advised to consult their
                                        faculty
                                        advisors
                                        regarding the
                                        same.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <h2>
                                <br>
                                Overall Degree Requirements for PhD<br>
                        </h2>
                        <p class="c0"><span class="c3"><b>Template for PhD Degree</b></span></p>
                        <p class="c0"><span class="c2">The following is the template for a regular PhD program at
                                        IIITR:</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Completion of the following set of credits with a minimum
                                        CGPA of
                                        7.0
                                        within
                                        the first year of admission. The Doctoral Committee (DC) may recommend up to two
                                        additional
                                        courses
                                        and/or may
                                        allow an extra semester to complete the course work:</span></p>
                        <p class="c0 c6"><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-12
                                        credits for regular PhD admissions with Masters
                                        degree</span>
                        </p>
                        <p class="c0 c6"><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-6
                                        credits for students with a masters degree in IIT/
                                        IISc</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; To test the overall competence and academic preparation
                                        of a student in the Ph.D. Programme, a Comprehensive Examination will be held
                                        within 12 months for students with Masters degrees from the date of admission.
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; Comprehensive Examination will be held only after
                                        successful completion of course work (7 CGPA).
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; The mode of Comprehensive Examination (oral or written or
                                        both) as well as the modus operandi (common to all students in a
                                        Department/Center) is decided by the concerned department and will be intimated
                                        to the students.
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; The date of the Comprehensive Examination is informed to
                                        the student at least one month ahead. The department conducts Comprehensive
                                        Examinations for all Ph.D. students.
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; A student failing in the Comprehensive Examination in the
                                        first attempt may be given a second attempt within
                                        1-3 months from the date of the first attempt. If the student fails in the
                                        second attempt, he/she will not be allowed to continue in the Ph.D. Programme.
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; Within 3 months of the successful completion of the
                                        Comprehensive Examination, a student presents a PhD Research Proposal Seminar
                                        (RPS). The presentation is open to all. In this, he/she presents problem
                                        identification, literature survey, and preliminary research plan.
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; A student submits a write-up to the DC members at least
                                        one week before the date of the RPS.
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; A report on the successful completion of the RPS, is
                                        submitted by the DC to the
                                        Chairman, DC who communicates the same to the Director.
                                </span></p>
                        <p class="c0"><span class="c2">&#9679; Original work should be carried out at least partly under
                                        the supervision of a research guide from among the faculty members of IIITR and
                                        defended in the form of a thesis. A co-guide, if needed, may be co opted from
                                        IIITR, industry or another institute of repute.</span></p>
                        <p class="c0"><span class="c2">&#9679; Publication of at least two research papers in scopus
                                        indexed journals (or one in scopus indexed journal and another in a scopus
                                        indexed conference/proceedings)</span></p>

                        <p class="c0"><span class="c2">&#9679; A guide will be allotted as soon as the student joins the
                                        PhD program based on the choices given by the student. The guide will constitute
                                        a Doctoral Committee
                                        (DC)
                                        comprising
                                        himself/
                                        herself and at least two members of his/ her choice selected from amongst
                                        faculty of
                                        IIITR
                                        or
                                        scientists
                                        from reputed outside Organizations/ Institutes. A faculty member of IIITR
                                        outside the
                                        parent
                                        department will
                                        act as Chairman of the committee.</span></p>
                        <p class="c0"><span class="c2">&#9679; The DC would conduct a progress seminar at least once a
                                        year
                                        for
                                        the
                                        first
                                        3-years (from the date of registration) to evaluate the progress of the work.
                                        After
                                        3-years,
                                        these
                                        progress
                                        seminars should be held every six months.</span></p>
                        <p class="c0"><span class="c2">&#9679; If the research progress is unsatisfactory, the
                                        supervisor
                                        will
                                        call
                                        for the
                                        Doctoral Committee (DC) to evaluate the progress. If DC finds the progress
                                        unsatisfactory,
                                        an
                                        appropriate
                                        time interval (minimum of 3 months) will be set to improve the performance. If
                                        DC finds
                                        that
                                        the
                                        progress
                                        still remains unsatisfactory, registration will stand terminated. </span></p>
                        <p class="c0"><span class="c2">&#9679; An MoE funded PhD student is eligible to convert to SRF
                                        (senior
                                        research
                                        fellow) after two years as a JRF (Junior Research Fellow). This JRF to SRF
                                        conversion
                                        assessment
                                        should be
                                        done by a committee having an external examiner also. This external examiner can
                                        be a
                                        part
                                        of
                                        the
                                        regular
                                        Doctoral Committee and can be a faculty from the other department also. In
                                        addition, if
                                        a
                                        faculty
                                        member
                                        wishes, he/she may also involve an examiner from outside IIITR. For students
                                        supported
                                        by
                                        other
                                        funding
                                        agencies, their respective norms prescribed for JRF to SRF conversion will be
                                        followed.</span>
                        </p>
                        <p class="c0 c4"><span class="c2"><br></span></p>
                        <p class="c0"><span class="c2">For the external/ sponsored PhD the following rules, in addition
                                        to
                                        the
                                        above
                                        mentioned are applicable:</span></p>
                        <p class="c0"><span class="c2">&#9679; The Program is aimed at candidates from national research
                                        laboratories/
                                        reputed industrial organizations where research work can be carried out.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; The guide will be allotted at the beginning.
                                        Nevertheless, it is recommended that the procedure outlined above for regular
                                        PhD students should be followed.
                                </span></p>
                        <!-- <p class="c0"><span class="c2">&#9679; </span></p>
                        <p class="c0"><span class="c2">&#9679; </span></p>
                        <p class="c0"><span class="c2">&#9679; </span></p>
                        <p class="c0"><span class="c2">&#9679; </span></p>
                        <p class="c0"><span class="c2">&#9679; </span></p> -->

                        <p class="c0"><span class="c2">&#9679; No stipend will be paid to the student; however, he/ she
                                        may
                                        be
                                        employed in a
                                        project, full or part time.</span></p>
                        <p class="c0"><span class="c2">&#9679; Candidates from reputed research organizations may have a
                                        co-guide
                                        from their
                                        research organization.</span></p>
                        <p class="c0"><span class="c2">&#9679; External PhD students do not have a residency requirement
                                        to
                                        take
                                        their
                                        courses; with the permission of their advisor, they also have the option of
                                        taking video
                                        and
                                        self
                                        study
                                        based coursework.</span></p>
                        <p class="c0"><span class="c2">&#9679; External PhD students should complete the Comprehensive
                                        Examination within 12 months from the time of joining. In case of unsatisfactory
                                        performance, a second attempt is allowed within three months, failing which PhD
                                        registration will lapse. Also, the student needs to present a Research Proposal
                                        Seminar (RPS) Within 3 months of the successful completion of the Comprehensive
                                        Examination.
                                </span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c3"><br><b>Thesis Submission and Evaluation Guidelines</b></span></p>
                        <p class="c0"><span class="c2">&#9679; Prerequisite for submission of PhD thesis: The student
                                        must
                                        have
                                        two
                                        scopus
                                        indexed publications (accepted) to be eligible for the submission of doctoral
                                        thesis.
                                </span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Open colloquium: On completion of the doctoral research
                                        the
                                        student
                                        has to
                                        give an open colloquium. As the name implies it is open to the entire institute.
                                        The
                                        doctoral
                                        committee (as
                                        many members as possible of DC) and the guide will have to be present in the
                                        colloquium.
                                        The
                                        requirement for
                                        open colloquium is a thesis draft and the guide&rsquo;s approval and the first
                                        page of
                                        the
                                        publications. The
                                        draft will be sent to the doctoral committee at least two weeks before the
                                        colloquium.
                                        The
                                        student
                                        will have
                                        to incorporate the suggestions that come from the open colloquium. The revised
                                        thesis
                                        meant
                                        for
                                        sending to
                                        the examiners should be submitted within one months of the successful completion
                                        of open
                                        colloquium.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Extended synopsis: The student will have to submit an
                                        extended
                                        synopsis (8-10
                                        pages) that will be sent to external examiners.</span></p>
                        <p class="c0"><span class="c2">&#9679; External examiners/ reviewers: The guide will have to
                                        submit
                                        a
                                        list
                                        of 8
                                        external experts to the Dean Academic&rsquo;s Office forwarded through the
                                        HOD.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Opting for examiners/ reviewers from Abroad: The guide
                                        may
                                        opt
                                        for
                                        examiners/
                                        reviewers from abroad, however, this is not mandatory.</span></p>
                        <p class="c0"><span class="c2">&#9679; Choosing the examiners: The dean academic in consultation
                                        with
                                        the
                                        chairman
                                        senate will choose three reviewers from the
                                        list
                                        provided
                                        by
                                        the thesis
                                        supervisor.</span></p>
                        <p class="c0"><span class="c2">&#9679; Defence pattern and examination committee: The defense
                                        will
                                        be
                                        open
                                        to all
                                        followed by closed door Q&amp;A.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2"><br></span>
                        </p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">The extended synopsis will be sent to three external
                                        reviewers.
                                        After
                                        reading
                                        through the extended synopsis if they agree to review the thesis, then the
                                        thesis will
                                        be
                                        sent
                                        to
                                        all (3
                                        reviewers). If any of them refuses to review the thesis, the dean academic will
                                        contact
                                        other
                                        examiners from
                                        the list submitted by the thesis supervisor. The thesis will be sent to the
                                        reviewer as
                                        and
                                        when
                                        one
                                        agrees
                                        to review the thesis. The reviewers will be given 2 months time to submit a
                                        report. Once
                                        two
                                        positive
                                        reports are received, one of the reviewers (nominated by the Dean, Acad) will be
                                        invited
                                        in
                                        person
                                        to attend
                                        the thesis defense. Subsequently, the defense date can be scheduled by the guide
                                        in
                                        consultation
                                        with the
                                        reviewer. The report submitted by the other reviewer will be given to the
                                        external
                                        examiner
                                        and
                                        the
                                        external
                                        examiner may even ask questions based on the reviewer&rsquo;s report. In
                                        this
                                        case,
                                        the final
                                        examination committee will consist of the supervisor(s), one external examiner,
                                        one
                                        internal
                                        examiner, and
                                        Chairman who is from outside the department.</span></p>
                        <p class="c0"><span class="c2">&#9679; Choosing the exam pattern: The choice of selecting the
                                        exam
                                        pattern
                                        remains
                                        with the student. The student &lsquo;may&rsquo; consult with the thesis
                                        supervisor for
                                        making a
                                        choice.</span></p>
                        <p class="c0"><span class="c2">&#9679; Preparing the thesis: The thesis must be prepared in a
                                        format
                                        prescribed by
                                        the institute and a soft copy of the thesis must be submitted to the library for
                                        archiving.
                                        Plagiarism
                                        check/ similarity index mandatory to be submitted along with Thesis
                                        submission.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; Chairman: Any Faculty of IIITR outside the parent
                                        department
                                        of
                                        the
                                        candidate
                                        may be appointed as Chairman.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c3"><br><b>Maximum Duration</b></span></p>
                        <p class="c0"><span class="c2">For a PhD student enrolled after completing a masters degree, the
                                        maximum permissible time for completing the PhD requirements is six years from
                                        the time of PhD admission for regular students. External PhD students get one
                                        additional year.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c2">No stipend will be paid to the student after five years; however,
                                        he/she
                                        may
                                        be
                                        employed in a project, full or part time.</span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0"><span class="c3"><br><b>Termination &amp; Exit Options</b></span></p>
                        <p class="c0"><span class="c2">The enrolment of a student to the institute will lapse after the
                                        maximum
                                        permissible
                                        duration. Hence, a student who is not able to complete the graduation
                                        requirements
                                        within
                                        the
                                        maximum
                                        permissible time will deem to be automatically terminated from the program. The
                                        Senate
                                        may
                                        approve
                                        an
                                        extension of duration on a case by case basis. However, the termination of the
                                        student
                                        remains
                                        in
                                        effect
                                        until such extension is approved by the senate. If extension is approved, the
                                        student is
                                        expected to
                                        complete the registration and fee related formalities till the completion of the
                                        program. Continuation of hostel accommodation
                                        in
                                        the
                                        case
                                        of such
                                        extension is not assured and subject to availability.</span></p>
                        <p class="c0 c4"><span class="c2"><br></span></p>
                        <p class="c0"><span class="c2">In addition, the following conditions will also warrant
                                        termination
                                        of a
                                        student from
                                        PhD program:</span></p>
                        <p class="c0"><span class="c2">&#9679; If the student obtains a CGPA below 6.5 for unreserved
                                        category,
                                        below 6.0
                                        for reserved category, at the end of the first two semesters.</span></p>
                        <p class="c0"><span class="c2">&#9679; If the CGPA falls between 6.5 and 7.0 for unreserved
                                        category,
                                        and
                                        6.0 and
                                        6.5 for reserved category at the end of the first year of coursework, the
                                        student will
                                        be
                                        allowed to
                                        take
                                        courses in the third semester to meet CGPA of 7.0. In this case, the research
                                        proposal
                                        defense
                                        should be
                                        extended by one more semester; if already completed, the research proposal
                                        defense will
                                        be
                                        considered only
                                        provisional subject to the subsequent increase in the CGPA. If CGPA of 7.0
                                        cannot be met
                                        at
                                        the
                                        end
                                        of the
                                        third semester for both unreserved and reserved category, registration will
                                        stand
                                        terminated.</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; If the student accumulates two or more FR/FS grades
                                        during
                                        the
                                        course
                                        work.</span></p>
                        <p class="c0"><span class="c2">&#9679; If the student does not clear the research proposal
                                        defense
                                        in
                                        two
                                        attempts
                                        (the second attempt for proposal defense should be within two months of the
                                        first
                                        attempt).</span>
                        </p>
                        <p class="c0"><span class="c2">&#9679; If the research progress is unsatisfactory, the
                                        supervisor
                                        will
                                        call
                                        for the
                                        Doctoral Committee (DC) to evaluate the progress. If DC finds the progress
                                        unsatisfactory,
                                        an
                                        appropriate
                                        time interval (minimum of three months) will be set to improve the performance.
                                        If DC
                                        finds
                                        that
                                        the
                                        progress still remains unsatisfactory, registration will stand terminated.
                                </span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                        <p class="c0 c4"><span class="c2"></span></p>
                </h3>
        </div>
</section>