<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165669163-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-165669163-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keyword" content="{{ page.title }} Indian Institute of Information Technology Raichur | Indian Institute of Technology Hyderabad | Indian | Raichur | IIIT | Karnataka | Technology | Computer Science | Institute | Students | Research | Placement | Campus | Hostel | Academic" />
    <meta name="description" content="{{ page.title }} | Indian Institute of Information Technology Raichur is one of the new IIITs proposed by the Ministry of Human Resource Development, Government of India, located at Raichur, Karnataka state.">
    <title>{{ page.title }} | IIIT Raichur</title>

    <!-- Search Engine tags -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ page.title }} | IIIT Raichur" />
    <meta property="og:site_name" content="{{ page.title }} | IIIT Raichur" />
    <meta
        property="og:description"
        content="Indian Institute of Information Technology Raichur is one of the new IIITs proposed by the Ministry of Human Resource Development, Government of India, located at Raichur, Karnataka state."
    />
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:url" content="https://iiitr.ac.in/" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@IIITRaichur" />
    <meta name="twitter:creator" content="@IIITRaichur" />
    <meta name="twitter:title" content="{{ page.title }} | IIIT Raichur" />
    <meta
        name="twitter:description"
        content="Indian Institute of Information Technology Raichur is one of the new IIITs proposed by the Ministry of Human Resource Development, Government of India, located at Raichur, Karnataka state."/>
    <meta name="twitter:image" content="{{ site.baseurl }}/assets/images/logo.png" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet"
    />
    <!-- Canonical tag -->
    <link rel="canonical" href="https://iiitr.ac.in/" />
    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/logo.png">
</head>

<body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
</body>

</html>