---
layout: default
---
<style>
    .news-cards img {
        margin: 5%;
        transition: 0.3s;
    }

    .news-cards img:hover {
        box-shadow: 0 16px 23px 0 rgba(0, 0, 0, 0.2);
    }

    .news-cards h5 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    b {
        color: black;
    }
</style>
<div class="container">
    <div class="row news-cards justify-content-center">
        {% if page.file == NULL %}
        <div class="col-lg-12 ">
            <h2 class="text-center">{{ page.title }}</h2>
            <h4 class="text-center">{{page.date | date: "%d %b %Y"}}</h4>
            <hr style="margin:auto; border: 2px solid blue; width:50px;">
            <h5>{{ content }}</h5>
        </div>
        {% endif %}

        {% if page.file != NULL %}
        <div class="col-lg-12 ">
            <h3 style="text-decoration: underline;font-weight: 900;">Press Release</h3>
            <br>
            <h4><b>{{ page.title }}</b></h4>
            <br>
            <!-- <h4>{{page.date | date: "%d %b %Y"}}</h4> -->
            {{ content }}
            
        </div>
        {% endif %}

        {% if page.img_1 != NULL %}
        <div class="col-lg-6">
            <img src="{{ site.baseurl }}/assets/images/news/{{ page.img_1 }}">
        </div>
        {% endif %}
        {% if page.img_2 != NULL %}
        <div class="col-lg-6">
            <img src="{{ site.baseurl }}/assets/images/news/{{ page.img_2 }}">
        </div>
        {% endif %}
        {% if page.img_3 != NULL %}
        <div class="col-lg-6">
            <img src="{{ site.baseurl }}/assets/images/news/{{ page.img_3 }}">
        </div>
        {% endif %}
        {% if page.img_4 != NULL %}
        <div class="col-lg-6">
            <img src="{{ site.baseurl }}/assets/images/news/{{ page.img_4 }}">
        </div>
        {% endif %}
        {% if page.img_5 != NULL %}
        <div class="col-lg-6">
            <img src="{{ site.baseurl }}/assets/images/news/{{ page.img_5 }}">
        </div>
        {% endif %}
        {% if page.img_6 != NULL %}
        <div class="col-lg-6">
            <img src="{{ site.baseurl }}/assets/images/news/{{ page.img_6 }}">
        </div>
        {% endif %}

        {% if page.file != NULL %}
        <div class="col-lg-12 text-center">
            <a class="btn btn-xl hover-button" href="/assets/files/press-release/{{ page.file }}">
                <h4>Download</h4>
            </a>
            <br>
            <br>
        </div>
        {% endif %}
    </div>
</div>