---
layout: section
title: "Hostels"
main_title: "Campus"
---

<style>
	.card-text-1 {
		transition: 0.8s;
		border-width: 2px !important;
	}

	.card-text-1:hover {
		background-color: #1D1D27;
		color: white;
	}

	.card-text-1:hover h3 {
		color: white;
	}

	.service-button {
		background-color: hsl(0, 6%, 72%);
		color: black;
		
	}

	.service-button:hover {
		background-color: #2c2f7f;
		color: white;
	}
</style>

<section>
	<!-- card for hostels -->
	<div class="container mt-3 text-center">
		<section class="mt-5 p-4">
			<h1 class="text-center">Hostels</h1>
			<hr style="margin-left:auto; border: 2px solid blue; width:50px;">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-12 card-effects">
					<div class="card mt-3 mb-2 border border-primary">
						<!-- <a href="krishna.html"> -->
						<img src="{{ site.baseurl }}/assets/images/campus/hostel/2.jpeg" class="card-img-top"
							alt="Hostel Image" />
						<div class="card-body card-text-1">
							<h3 class="card-title text-center">Krishna Block</h3>
							<a href="krishna.html" class="btn service-button">More Info</a>
						</div>
						<!-- </a> -->
					</div>
				</div>

				<div class="col-lg-4 col-12 card-effects">
					<div class="card mt-3 mb-2 border border-primary">
						<!-- <a href="tungabhadra.html"> -->
						<img src="{{ site.baseurl }}/assets/images/campus/hostel/1.jpeg" class="card-img-top"
							alt="Hostel Image" />
						<div class="card-body card-text-1">
							<h3 class="card-title text-center">Tungabhadra Block</h3>
							<a href="tungabhadra.html" class="btn service-button">More Info</a>
						</div>
						<!-- </a> -->
					</div>
				</div>

				<!-- <div class="col-lg-4 col-12 card-effects">
					<div class="card mt-3 mb-2 border border-primary">
						
						<img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
							class="card-img-top" alt="Hostel Image" />
						<div class="card-body card-text-1">
							<h3 class="card-title text-center">Girls Block</h3>
							<a href="girlshostel.html" class="btn btn-dark">More Info</a>
						</div>
						
					</div>
				</div> -->
			</div>
		</section>
	</div>


	<!-- Photo gallery card -->
	<section class="section_padding">
		<div class="container">

			<div class="col-lg-12 text-center">
				<h1>Photo Gallery</h1>
				<hr style="margin-left:auto; border: 2px solid blue; width:50px;">
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="gallery">
						<img src="../../assets/images/campus/2.jpeg">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="gallery">
						<img src="../../assets/images/campus/3.jpeg">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="gallery">
						<img src="../../assets/images/campus/4.jpeg">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="gallery">
						<img src="../../assets/images/campus/5.jpeg">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="gallery">
						<img src="../../assets/images/campus/7.jpeg">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="gallery">
						<img src="../../assets/images/campus/8.jpeg">
					</div>
				</div>
				<div class="col-lg-12" style="padding-bottom: 30px;">
				</div>
			</div>

		</div>
	</section>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
</section>
